<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>

<table width='100%'><tr><td align='center'>
<img src='images/MiradiMasthead.gif' height='71' width='729'></img>
</td></tr></table>

<FONT size=4><P>Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and Beneficent Technology, Inc. 
("The Benetech Initiative"), Palo Alto, California.</P>
<p><strong>VERSION: 1.0.10 (Beta)</strong><eam>