<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>
<table><tr><td><IMG src="images/miradi64.png" height=64 width=64></td>
<td width='20'></td><td><FONT face=Tahoma size=6><STRONG>Miradi </STRONG></FONT><sup>TM</sup><BR>
<FONT face=Tahoma size=4><STRONG>Adaptive Management Software for Conservation Projects</STRONG></FONT>&nbsp;</td></tr></table>
<FONT size=4><P>Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and Beneficent Technology, Inc. 
("The Benetech Initiative"), Palo Alto, California.</P>
<p><strong>VERSION: 1.0.6 (Beta)</strong><eam>