<p class='viewname'>Agile Software</p>
<p>
Some of the principles behind the Agile Manifesto are:
</p>
<ul>
<li>
<p>Customer satisfaction by rapid, continuous delivery of useful software.</p>
</li>          
<li>
 <p>Working software is delivered frequently (weeks rather than months.)</p>
</li>                   
<li>
<p>Working software is the principal measure of progress.</p>
</li>          
<li>
 <p>Even late changes in requirements are welcomed.</p>
</li>
<li>
 <p>Even late changes in requirements are welcomed.</p>
</li> 
<li>
 <p>Close, daily, cooperation between business people and developers.</p>
</li>  
<li>
 <p>Face-to-face conversation is the best form of communication.</p>
</li>  
<li>
 <p>Projects are built around motivated individuals, who should be trusted.</p>
</li>  
<li>
 <p>Continuous attention to technical excellence and good design.</p>
</li>
<li>
 <p>Simplicity</p>
</li>  
<li>
 <p>Self-organizing teams.</p>
</li>     
<li>
 <p>Regular adaptation to changing circumstances.</p>
</li>          
</ul>	