<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>
<BODY>
<H2><IMG src='\images\Umbrella\agile.png' border=0  width=48 height=37 hspace=10 >Agile Software Development</H2>
<H3>
<HR>
A.&nbsp; The User's Perspective</H3>
<P>When the members of the Conservation Measures Partnership first started 
discussing this program, not knowing much about software development, we bought 
a copy of the Dummies Guide to Software Project Management.&nbsp;This guide 
basically said that we had to work through the following steps:</P>
<P>1. Gather all requirements</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>2. Design the entire system</P>
  <BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
    <P>3. Write the code for the application</P>
    <BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
      <P>4. Test and debug the entire&nbsp;application</P>
      <BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
        <P>5. Deploy the application which will now 
    work</P></BLOCKQUOTE></BLOCKQUOTE></BLOCKQUOTE></BLOCKQUOTE>
<table>
<tr>
<td>
<P dir=ltr>Even at the time, this "waterfall" method of programming - so named 
because once you&nbsp;complete one step, there is no going back to it 
-&nbsp;seemed like a difficult thing to do.&nbsp;We weren't sure exactly what we 
wanted the program to do, so it seemed hard to design the entire 
system.&nbsp;When we met with the Benetech team, they told us about a relatively 
new programming method called <STRONG>Agile Development</STRONG>, typified by a 
specific process know as <STRONG>Extreme Programming 
(XP)</STRONG>.<STRONG>&nbsp;</STRONG>As outlined in the following diagram, Agile 
Development involves going through an iterative process of defining user stories 
(things that people want the software to do), writing modules of code in weekly 
iterations, testing these iterations, and then using the results to refine both 
the code and your list of stories.&nbsp;Light bulbs started going off&nbsp;-here 
in the world of software was&nbsp;the same adaptive management approach that we 
have been advocating in conservation!!&nbsp;And interestingly, it has evolved 
for the same reason - a need to make decisions in the face of complexity and 
uncertainty.&nbsp;There is no way two years ago that we could have predicted 
that we would need many of the features that are in the current release of the 
software - we could only arrive at them through a systematic, iterative 
process.</P>age with a Project Scope box around it.
</td>
<td width='410'>
<img src='images/Umbrella/agileProgrammingCycle.png' width='406' height='307'></img>
</td>
</tr>
</table>
<P dir=ltr>Just as adaptive management is not a license to do "whatever you 
want," but instead must carefully state your assumptions and then 
deliberately&nbsp;test them, so too Agile Programming requires a disciplined 
approach.&nbsp;We the users can suggest any stories we want.&nbsp;But the 
engineers will then log them into our tracking system and provide estimates of 
how much programming time will be required to complete each step.&nbsp;We then 
meet with the engineers before each weekly iteration to collectively&nbsp;decide 
what stories we will do that week, trying to get the most "user value" for that 
week's worth of engineering time.&nbsp;We users also then have to make sure that 
we test and provide feedback on the results of that weeks' iteration.&nbsp;We're 
not sure that this agile process would work with a much larger project requiring 
dozens of programmers versus the handful that we worked with.&nbsp;And it is 
obviously clearly dependent on having software engineers who&nbsp;are deeply 
skilled, enthusiastically willing to keep changing things, able to dive in and 
rapidly get up to speed on new subject material, ask intelligent questions, be 
problem solvers, and make substantial contributions to design and function 
elements that enrich submitted stories as well as produce new 
stories.&nbsp;But&nbsp;with those caveats, the agile process&nbsp;seems to work 
really well.&nbsp; </P>
<P dir=ltr>So why are we providing you with all this navel gazing about our 
development process?&nbsp;There are two important messages we wish to 
convey.</P>
<P dir=ltr>1.&nbsp; <STRONG>We&nbsp;Need Your Stories</STRONG>&nbsp;- Because we 
are using Agile Programming, we collectively have the power to change whatever 
we want in this software program.&nbsp;If you the user find something minor that 
bothers you (when you click on a factor, the wrong thing is selected) or have a 
grand idea of how to improve the software (adding an entire&nbsp;module that 
does....), you should know that we can make it happen.&nbsp;Drop us a note at <A 
href="mailto:feedback@miradi.org">feedback@miradi.org</A>.&nbsp;We won't 
guarantee that we will satisfy all requests.&nbsp;But we will certainly consider 
it - and at least get back to you to discuss it with you.</P>
<P dir=ltr><STRONG>2.&nbsp; Agile Programming / Adaptive Management 
Works</STRONG> - Although we are preaching the gospel of&nbsp;Adaptive 
Management in conservation, we (as of yet) still only have a limited number of 
stories showing that this approach adds value.&nbsp;Our experiences with Agile 
Programming have left us convinced that in the face of uncertainty and 
complexity, a flexible and yet deliberate iterative approach is the only way to 
go.&nbsp;We can't imgaine undertaking another software program any other way - 
and it give us faith that we are on the right track in conservation too.<BR></P>
<H3 dir=ltr>
<HR>
B.&nbsp; The Engineer's Perspective<BR></H3>
<P>Kevin - I thought it might interesting if you were to write this 
section.&nbsp; You might reference your experience -- but also point people to 
Agile Websites.&nbsp; You could also include the stuff from the manifesto you 
had in the app already -- or perhaps comment on how each of the following 
occured during this project (or not!).&nbsp; If you don't want to, I might try 
to incorporate some of this into the above.</P>
<P>Some of the principles behind the Agile Manifesto are: </P>
<UL>
  <LI>Customer satisfaction by rapid, continuous delivery of useful software. 
  <LI>Working software is delivered frequently (weeks rather than months.) 
  <LI>Working software is the principal measure of progress. 
  <LI>Even late changes in requirements are welcomed. 
  <LI>Close, daily, cooperation between business people and developers. 
  <LI>Face-to-face conversation is the best form of communication.&nbsp;&nbsp; 
  (hmmmm!) 
  <LI>Projects are built around motivated individuals, who should be trusted. 
  <LI>Continuous attention to technical excellence and good design. 
  <LI>Simplicity 
  <LI>Self-organizing teams. </LI></UL>
<P>&nbsp;</P>
<P>&nbsp;</P></BODY></HTML>
