&nbsp;This software is 
being developed as a joint venture between members of The Conservation Measures 
Partnership (<A 
href="http://www.conservationmeasures.org">www.conservationmeasures.org</A>) and 
Benetech (<A href="http://www.Benetech.org">www.Benetech.org</A>) for 
conservation practitioners around the world.</P>
<P>&nbsp;<IMG height=64 alt="" hspace=0 
src="icons/TNC64.png" 
width=358 align=absMiddle 
border=0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <IMG 
src="icons/wcs-64.gif" 
border=0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <IMG 
src="icons/WWF-64.jpg" 
border=0></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;<IMG height=34 alt="" hspace=0 
src="icons/benetech64.png" 
width=104 align=absMiddle 
border=0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<IMG 
height=59 alt="" hspace=0 
src="icons/FOS-64.gif" 
width=75 align=absMiddle 
border=0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<IMG height=64 alt="" hspace=0 
src="icons/RARE-64.jpg" 
width=146 align=absMiddle border=0>&nbsp;&nbsp;&nbsp;</P></BODY>

