<p class='viewname'>Summary View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>
1B. Clear & Common Purpose:
</p>
<p class='taskheading'>
Define Project Scope
</p>
<p>
Add your project's 
<a href='Definition:Scope'>scope:</a>
 to the appropriate fields.
</p>
<p>
The full version should contain the complete description 
of your project's scope.  The short version should be a 
3-5 word summary of the scope. 
</p>
<p></p>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
</td>
<td width='55%' align='left' valign='top'>
<div class='navigation'>
<p>
A project's 
<a href='Definition:Scope'>scope:</a>
is the broad focus of the project. Projects focused 
on the biodiversity of a specific place have a geographic scope (project area), 
such as a national park or tribal fishing grounds. In some cases, you 
may need to define your biodiversity targets before coming to a final decision 
about the geographic boundaries of your project. If you are working in a watershed, 
for example, you may be interested in conserving a forested area that stretches from 
your watershed into a neighboring basin. In this case, the definition of your targets 
would cause you to extend the geographic boundaries of your project scope. 
</p>
<p>
Other projects have a thematic scope, with a focus on a population of wide- ranging 
animals, such as migratory birds, mammals or sea turtles, or a focus on certain ecological 
systems, such as forests, or issues such as illegal trade of rare and endangered species 
or poverty. 
</p>
<p>
If there is any doubt about the basic scope of your project, then discuss the options 
with the members of your project team and see if you have at least a general consensus. 
If you can't arrive at some basic consensus, then you need to seriously reconsider 
whether you should split into multiple projects. 
</p>
</div>
</td>
</tr>
</table>
