<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Summary View</p>
<p class='processsection'>
1A. Define Initial Project Team
</p>
<p class='taskheading'>
Agree Upon Team Roles
</p>
<p>
Once you have entered your team members, you can assign the roles of 
leader, process facilitator, and primary contact as appropriate.  
To add or remove a role for a person, click 
on the checkbox for that role within the <code class='toolbarbutton'>&lt;Resource Properties&gt;</code> dialog.
</p>

