<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Work Plan View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>
4A. Develop Detailed Work Plans
</p>
<p class='taskheading'>
Create Resources
</p>
<p>
To create a new 
<a href='Definition:Resource' class='definition'>resource</a> 
, go to the 
<code class='toolbarbutton'>&lt;Resources&gt;</code> 
 tab.  Click on the 
<code class='toolbarbutton'>&lt;Create Resource&gt;</code> 
 button at the side of the page and the fill in the appropriate information below 
(not all information will apply to all kinds of resources - for example, most 
material resources will not have a phone number).
</p>
<p>
To edit an existing resource, select the resource in the table and then edit the text below.
</p>
<p>
To delete a resource, select the resource in the table and click on the 
<code class='toolbarbutton'>&lt;Delete Resource&gt;</code> 
 button at the side of the page.
</p>
<p></p>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
</td>
<td width='55%' align='left' valign='top'>
<div class='navigation'>
<p>
A
<a href='Definition:Resource' class='definition'>resource</a> is a person or item that is needed to complete an 
activity/method or a task. There are three main kinds of resources:</p>
<lu>
<li>
<strong>Human Resources:</strong> Members of your project team, other members of your 
organization, partners, advisors, consultants, or other people who can help accomplish tasks.  
Human resource units are usually measured in some time unit such as hours, days, weeks, or months. 
<p></p>
</li>
<li>
<strong>Material Resources:</strong> Items such as vehicles, boats, fuel, computers, offices,
 conference rooms, plane tickets, telephones.  Material resources are either measured in a time unit 
(days of boat rental) or as their own unit (numbers of round trip plane tickets).  
<p></p>
</li>
<li>
<strong>Financial Resources:</strong> The money required to pay for most human and material resources.  
Financial resources are usually figured in one or more standard currencies.
<p></p>
</li>
</lu>
</div>
</td>
</tr>
</table>
