<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Work Plan View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>
4A. Develop Detailed Work Plans
</p>
<p class='taskheading'>
Develop Methods and Tasks
</p>
<p>
Just as each 
<a href='Definition:Strategy'>strategy</a>  
will have on or more 
<a href='Definition:Activity'>activities</a>  
 associated with it, each monitoring 
<a href='Definition:Indicator'>indicator</a>  
will also have one or more 
<a href='Definition:Method'>methods</a>  
 associated with it.  
</p>
<p>
On the 
<code class='toolbarbutton'>&lt;Work Plan&gt;</code> 
 tab, select an indicator that you want to focus on.  
Think about the specific methods that you will have to 
undertake to measure this indicator.  Click on the 
<code class='toolbarbutton'>&lt;Create Method&gt;</code>
 button to add a new method and then type the name 
of the method in the label box in the bottom panel.  
If necessary, you can have multiple methods for each indicator.  
Repeat for other indicators as needed.  You can use the 
<code class='toolbarbutton'>&lt;Move Item Up&gt;</code>
and the 
<code class='toolbarbutton'>&lt;Move Item Down&gt;</code>
buttons to change the order.
</p>
<p>
If necessary, you can also highlight a method and click on the 
<code class='toolbarbutton'>&lt;Create Task&gt;</code>
button to add tasks under this method.  (If you are really detail 
oriented, you can even create sub-tasks under 
<a href='Definition:Task'>tasks</a>.)
</p>
<p></p>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
</td>
<td width='55%' align='left' valign='top'>
<div class='navigation'>
<p>
<a href='Definition:Method'>Methods</a> are specific techniques used to collect data to measure an indicator.   Good methods meet the following criteria:  
</p>
<lu>
<li>
<strong>Accurate:</strong> Gives minimal or no error
<p></p>
</li>
<li>
<strong>Reliable:</strong> Results obtained using the method are consistently repeatable
<p></p>
</li>
<li>
<strong>Cost-Effective:</strong> Not overly expensive for the data the method yields or for the resources the project has.
<p></p>
</li>
<li>
<strong>Feasible:</strong> Project team has people who can use the method, as well as the material and financial resources to use the method.
<p></p>
</li>
<li>
<strong>Appropriate:</strong> Appropriate to the environmental, cultural, and political context of the project. 
<p></p>
</li>
</lu>
<p>
Methods do not need to be complex or sophisticated - if you can get the information you need using a simple, 
inexpensive method, it is far preferable to do this than to choose a complex, expensive method.  While the 
information you gather may be less precise, it may be sufficient for the types of decisions you are making.  
When planning for measuring results, you need to keep in mind that it should be a relatively small portion 
of your project budget.  If your methods for measuring results are too complex, you will not have enough 
money to implement actions and measure the results.
</p>
</div>
</td>
</tr>
</table>
