<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Intro to Work Plan View</p>
<p>
This view enables you to develop a 
<a href='Definition:WorkPlan' class='definition'>work plan</a> 
for your project. A work plan shows the specific 
<a href='Definition:Activity' class='definition'>activities</a> 
/
<a href='Definition:Method' class='definition'>methods</a> 
and 
<a href='Definition:Task' class='definition'>tasks</a>
that you need to undertake to implement your strategic and monitoring plans.  
As a general rule, you should have a detailed work plan for the 
coming 2 to 4 
<a href='Definition:Quarter' class='definition'>quarters</a> 
 and a rough plan for the years after that.
</p>