<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Diagrams</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<HR>
An Overview of Diagrams</H3>
<P>A diagram (sometime called a&nbsp;<EM>conceptual model) </EM>is a tool for 
visually depicting the situation at your project site. At it's core, a good 
diagram graphically&nbsp;depicts a set of causal relationships between factors 
that are believed to impact one or more biodiversity targets. A good diagram 
should explicitly link the biodiversity targets to the direct threats impacting 
them and the contributing factors (indirect threats and opportunities) 
influencing the direct threats. It should also provide the basis for determining 
where you can intervene with your strategies and where you need to develop 
indicators to monitor the effectiveness of these strategies.</P>
<P>It is important to note that a diagram is not so much a step in the adaptive 
management process, as a tool that your team can use to go through a number of 
the steps including in particular:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>1b. Identify Targets (see below)<BR>1c. Identify Critical Threats (see more 
  info for Threat Rating view)<BR>1d. Analyze Project Situation (see 
  below)<BR>2a. Develop Goals and Objectives (see more info for Strategic Plan 
  view)<BR>2b. Develop Strategies (see more info for Strategic Plan view)<BR>3a. 
  Focus Your Monitoring (see more info for Monitoring Plan view)</P></BLOCKQUOTE>
<P>Using a diagram as you go through these steps has the advantage of being 
visual and, when kept simple,&nbsp;providing a simple way to trace 
cause-and-effect&nbsp;from indirect threats and opportunities to direct threats 
to biodiversity targets. Because it traces back through the logical flow of 
influence,&nbsp;a good diagram&nbsp;can also allow your project 
team,&nbsp;partners, stakeholders, and donors to quickly understand and provide 
input into your thinking. Diagrams are also powerful tools for workshops with 
partners and local stakeholders. On the other hand,&nbsp;diagrams have the 
disadvantage of often becoming too complex and becoming unmanageable (to avoid 
this, one rule of thumb is to have no more than 25 boxes or so on any one page). 
Also, while&nbsp;diagrams are readily understood by many people, a small but 
non-trivial fraction of people in the world have a strong dislike of this visual 
way of thinking.</P>
<P dir=ltr>General information about diagrams as a tool can be found in:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, 
  Managing, and Monitoring Conservation and Development Projects, Chapter 
  3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>
  <P>WCS.&nbsp;2004. <EM>Creating Conceptual Models: A Tool for Thinking 
  Strategically, Living Landscapes Technical Manuel 
  2.</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://wcslivinglandscapes.com/media/file/TechnicalManual2.pdf">http://wcslivinglandscapes.com/media/file/TechnicalManual2.pdf</A>&nbsp; 
  </P>
  <P>WWF. 2005. <EM>Basic Guidance for Cross-Cutting Tools: Conceptual 
  Models.</EM>&nbsp;<BR>&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_4_conceptual_model_11_08_05.pdf">http://assets.panda.org/downloads/1_4_conceptual_model_11_08_05.pdf</A></P></BLOCKQUOTE>
<P>
<H3>
<HR>
Target Selection</H3>
<P>The Miradi software uses a modified version of the target selection process 
developed by The Nature Conservancy and WWF. More information about this system 
can be found in:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 2. Define Scope and 
  Focal Targets.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_2">http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_2</A></P>
  <P>WWF. 2005. <EM>Basic Guidance for Step 1.3&nbsp;Biodiversity 
  Targets<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</EM><A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_3_targets_08_11_06.pdf">http://assets.panda.org/downloads/1_3_targets_08_11_06.pdf</A><EM>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</EM></P></BLOCKQUOTE>
<H3 dir=ltr>
<HR>
Analyze Project Situation</H3>
<P dir=ltr>The Miradi software also&nbsp;uses a modified version of the 
situation analysis process developed by Foundations of Succes,&nbsp;The Nature 
Conservancy and WWF. More information about this system can be found in:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, 
  Managing, and Monitoring Conservation and Development Projects, Chapter 
  3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT><A 
  href="http://islandpress.org"><U><FONT 
  color=#0000ff>http://islandpress.org</U></FONT></A></P>
  <P>TNC. 2007.&nbsp;<EM>Conservation Action Planning Toolbox. 5. 
  Complete&nbsp;Situation Analysis.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </EM><A 
  href="http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_5">http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_5</A></P>
  <P><EM>WWF. 2006. Basic Guidance for Step 1.4 Situation 
  Analysis</EM><BR>&nbsp;&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/1_4_situation_analysis_11_08_05.pdf">http://assets.panda.org/downloads/1_4_situation_analysis_11_08_05.pdf</A></P></BLOCKQUOTE>
