<h1>Miradi Download Login</h1>

<form action="/attempt_login" method="post">
<p>
Enter your email address: 
<input id="user_email" name="user[email]" size="30" type="text" value=""/>
</p>

<p>
Enter your password:
</p>

<input type="submit" value="Login"/>

</form>