<h1>Miradi Download Login</h1>

<form action="/login" method="post">
<p>
Enter your email address: 
<input id="user_email" name="user[email]" size="30" type="text" value=""/>
</p>

<p>
Enter your password:
<input id='user_password' name='user[password]' size='30' type='password' value=''/>
</p>

<input type="submit" value="Login"/>

</form>

Click here to <%= link_to "register", "register" %>

