<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/workshop48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Workshop Hints for Threat Ratings</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>Threat Ratings in a Workshop</H3>
Threat ratings are generally best done by sending project teams into breakout groups. If you are doing a large complex project, you can also assign each breakout group to develop and then rate the threats for one or two targets.<br>

<P>As a general rule, we recommend that you follow the threat rating process outlined in the interview screen, but that you do it using a sticky board and flip chart (you can recreate the table below for each target on one page of a 
flip chart). You should either have a recorder using Miradi in the back of the room typing the numbers in, or you can enter the numbers after the session end. If you are not typing in the ratings, you can convert ratings into numbers (VH = 4, H = 3, M = 2, and L =1) and then add them up to get an approximation of the rolled-up ratings.</P>

<br>
<hr>
<H3>Procedure for Breakout Groups</H3>
The following is the procedure for both identifying and then rating direct threats. Each breakout group will be assigned one or two targets. As a group, for each target you should:
<br>
<OL>
  <LI>Write your target on a card and place it on the far right of your 
  workspace. 
  <LI>Brainstorm specific direct threats that could potentially affect your target (try not to include "indirect threats" or "stresses"). Consult the IUCN-CMP classification if necessary. 
  <LI>Put each direct threat on a card and put it to the left of your target, inking it to the relevant threat(s). If necessary, you can also identify stresses/attributes. 
  <LI>Discuss the direct threats and if necessary, combine, split, remove, or add cards. 
  <LI>Go through steps 1-4 for your remaining targets. 
  <LI>Put each direct threat on a new index card and bring it to the plenary session. At this session, we will then make sure all groups are considering the same direct threats. 
  <LI>Return to your breakout group and revise your list of direct threats based on the plenary discussion. 
  <LI>Rate each direct threat according to the criteria of scope, severity, and irreversibility. Make sure you record your ratings, using the following table.</LI></OL>

<P align=center><IMG src="images/ThreatRating/Workshop/threatratingtable.png" width='444' height='112' border=1 ></P>

<p>
<br>
<hr>
<H3>Criteria for Direct Threat Ratings Using the Simple Method</H3>


<p><strong>Scope - </strong> Most commonly defined spatially as the proportion of the target that can reasonably be expected to be affected by the threat within ten years given the continuation of current circumstances and trends. For ecosystems and ecological communities, measured as the proportion of the target's occurrence. For species, measured as the proportion of the target's population.</p>

<ul>
<li><b>Very High:</b> The threat is likely to be pervasive in its scope, affecting the target across all or most 
(71-100%) of its occurrence/population.</li>
<li><b>High:</b> The threat is likely to be widespread in its scope, affecting the target across much 
(31-70%) of its occurrence/population.</li>
<li><b>Medium:</b> The threat is likely to be restricted in its scope, affecting the target across some 
(11-30%) of its occurrence/population.</li>
<li><b>Low:</b> The threat is likely to be very narrow in its scope, affecting the target across a small proportion 
(1-10%) of its occurrence/population.</li>
</ul>


<p><strong>Severity - </strong>Within the scope, the level of damage to the target from the threat that can reasonably be expected given the continuation of current circumstances and trends. For ecosystems and ecological communities, typically measured as the degree of destruction or degradation of the target within the scope. For species, usually measured as the degree of reduction of the target population within the scope.</p>

<ul>
<li><b>Very High:</b> Within the scope, the threat is likely to destroy or eliminate the target, or reduce its population by 71-100% within ten years or three generations.</li>
<li><b>High:</b> Within the scope, the threat is likely to seriously degrade/reduce the target or reduce its population by 31-70% within ten years or three generations.</li>
<li><b>Medium:</b> Within the scope, the threat is likely to moderately degrade/reduce the target or reduce its population by 11-30% within ten years or three generations.</li>
<li><b>Low:</b> Within the scope, the threat is likely to only slightly degrade/reduce the target or reduce its population by 1-10% within ten years or three generations.</li>
</ul>

<p><strong>Irreversibility (Permanence) - </strong>The degree to which the effects of a threat can be reversed and the target affected by the threat restored.</p>

<ul>
<li><b>Very High:</b> The effects of the threat cannot be reversed and it is very unlikely the target can be restored, and/or it would take more than 100 years to achieve this (e.g., wetlands converted to a shopping center).</li>
<li><b>High:</b> The effects of the threat can technically be reversed and the target restored, but it is not practically affordable and/or it would take 21-100 years to achieve this (e.g., wetland converted to agriculture).</li>
<li><b>Medium:</b> The effects of the threat can be reversed and the target restored with a reasonable commitment of resources and/or within 6-20 years (e.g., ditching and draining of wetland).</li>
<li><b>Low:</b> The effects of the threat are easily reversible and the target can be easily restored at a relatively low cost and/or within 0-5 years (e.g., off-road vehicles trespassing in wetland).</li>
</ul>

