<HTML> 

<head>
<title>index</title>

<style type="text/css">
.fsx01 {font-size: 11px;}
.fsx02 {font-size: 12px;}
.fsx03 {font-size: 13px;}
.fsx04 {font-size: 15px;}
.fsx05 {font-size: 16px;}
.fsx06 {font-size: 19px;}
.fsx07 {font-size: 21px;}
.fsx08 {font-size: 24px;}
.fsx09 {font-size: 27px;}
.fsx10 {font-size: 29px;}
.fsx11 {font-size: 32px;}
.fsx12 {font-size: 35px;}
.fsx13 {font-size: 37px;}
.fsx14 {font-size: 48px;}
.fsx15 {font-size: 64px;}
.fsx16 {font-size: 96px;}
.txdec {text-decoration: none;}

.dfltt {font-family:Times New Roman;font-size:14px;font-weight:normal;text-decoration:none;text-align:left;}
body {margin:0;height:100%;width:100%;}
</style>
</head> 

<body bgcolor="#ffffff" alink="#ff0000" link="#0000ff" vlink="#800080" >

<div id="Oobj3" style="position:absolute;z-index:1;visibility:visible; left:91px;top:56px;width:643px;height:1007px;">
<div id="Grtf2" class="dfltt">
<font face="Times New Roman" class="fsx04">Conservation must take place in the face of a wide variety of threats.&nbsp; A common challenge for conservation practitioners is determining which of these threats they will try to address.&nbsp; Often, decisions are made applying an implicit set of criteria to evaluate threats.&nbsp; The danger with this approach is that different people might use different criteria or apply them differently.&nbsp; Moreover, there is a tendency to address threats for which strategies and expertise already exist, rather than addressing those that are posing the greatest threat to the biodiversity at a site.<br>
<br>
Threat ranking is a method for making this implicit step more explicit and more objective.&nbsp; It basically involves determining and defining a set of criteria and then applying those criteria systematically to the direct threats to a project area so that conservation actions can be directed where they are most needed.&nbsp; Different organizations have developed their own variations of this basic threat rating procedures.<br>
<br>
The Miradi software currently uses a threat rating system developed by The Nature Conservancy, WWF, and Foundations of Success (the &quot;Rapid CAP&nbsp; approach).&nbsp; More information about this system can be found in:<ul>
<li>TNC. 2007.&nbsp; Conservation Action Planning Toolbox.&nbsp; 3. Identify Critical Threats. </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_4">http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_4</a></font><font face="Times New Roman" class="fsx04"> 
<li>WWF.&nbsp; 2005.&nbsp; Basic Guidance for Step 1.4 Threat Ranking </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="https://intranet.panda.org/documents/folder.cfm?uFolderID=60977">https://intranet.panda.org/documents/folder.cfm?uFolderID=60977</a></font><font face="Times New Roman" class="fsx04"> </font><font face="Courier New" class="fsx03">&nbsp; </ul></font><font face="Times New Roman" class="fsx04"><br>
One of the earliest threat rating systems was developed by The Nature Conservancy as part of it’s 5-S process.&nbsp; This system involves dividing direct threats into &quot;stresses&nbsp; and &quot;sources&nbsp; of stress and then rating their effects on each target.&nbsp; More information is available at:<ul>
<li>TNC. 2003. <I>The 5S Framework for Site Conservation: A Practitioner's Handbook for Site Conservation Planning</I>. </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://conserveonline.org/docs/2000/11/5-SVOL1.pdf.">http://conserveonline.org/docs/2000/11/5-SVOL1.pdf.</a></font><font face="Times New Roman" class="fsx04"> 
<li>TNC. 2007.&nbsp; <I>Conservation Action Planning Toolbox.&nbsp; 3. Identify Critical Threats.</I> </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_4">http://conserveonline.org/workspaces/cbdgateway/cbdmain/cap/practices/bp_4</a></font><font face="Times New Roman" class="fsx04"> </ul><br>
Another early approach was developed by the Biodiversity Support Program.&nbsp; This system involves rating threats relative to one another across an entire project area.&nbsp; Variants of this system are also used by WCS’s Living Landscapes Program.&nbsp; More information is available at:<ul>
<li>Margoluis, R., and N. Salafsky. 1998. <I>Measures of Success: Designing, Managing, and Monitoring Conservation and Development Projects, Chapter 3.</I>&nbsp; Island Press, Washington, DC. <a href="http://islandpress.org">http://islandpress.org</a> 
<li>Margoluis, R. and N. Salafsky. 2001. <I>Is Our Project Succeeding? A Guide to Threat Reduction Assessment for Conservation.</I> </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://www.fosonline.org/images/Documents/tra.pdf">http://www.fosonline.org/images/Documents/tra.pdf</a></font><font face="Times New Roman" class="fsx04">&nbsp; (579kb)
<li>Living Landscapes ref</ul><br>
A general comparison of threat rating systems can be found at:<ul>
<li>Salafsky, Nick, Dan Salzer, Jamison Ervin, Tim Boucher, and Wayne Ostlie. 2003. <I>Conventions for Defining, Naming, Measuring, Combining, and Mapping Threats in Conservation: An Initial Proposal for a Standard System.</I> </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://www.fosonline.org/images/Documents/Conventions_for_Threats_in_Conservation.pdf">http://www.fosonline.org/images/Documents/Conventions_for_Threats_in_Conservation.pdf</a></font><font face="Times New Roman" class="fsx04">&nbsp; (356 kb)</ul><br>
Finally, a classification of direct threats can be found at:<ul>
<li>IUCN - CMP.&nbsp; 2006.&nbsp; <I>Unified Classification of Direct Threats.&nbsp; Version 1.0.</I> </font><font face="Times New Roman" class="fsx04" color="#0000ff"><a href="http://conservationmeasures.org/CMP/IUCN/Site_Page.cfm">http://conservationmeasures.org/CMP/IUCN/Site_Page.cfm</a></ul><br></font></div>
</div>


<div id="Oobj5" style="position:absolute;z-index:3;visibility:visible; left:95px;top:11px;width:32px;height:32px;font-size:1px;">
<img name="Gtitle3" SRC="images/ThreatRating/MoreInfo/moreInfo1.png" alt="" border = 0  width="32" height="32">
</div>

<div id="Oobj4" style="position:absolute;z-index:2;visibility:visible; left:142px;top:14px;width:403px;height:28px;font-size:1px;">
<img name="Gtitle3" SRC="images/ThreatRating/MoreInfo/geometry/obj4title3pg1p5.png" alt="" border = 0  width="403" height="28">
</div>


</body> 
</html> 
