<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/eg2-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Examples</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>About the Examples Pages</H3>
These pages will provide context-specific&nbsp;examples for each step in the <EM>CMP Open Standards.</EM> More examples will be forthcoming in future versions of Miradi.

<br>
<br>
<HR>
<H3>Example of Defining Your Project's Scope</H3>
<table><tr>
<td valign='top'>
The WWF Mesoamerican Caribbean Reef marine ecoregion initiative initially 
defined its project area to focus on the marine habitats shown in the map on the 
left. Over time, however, they realized that if they really wanted to conserve 
the marine habitats, they had to worry about the adjacent terrestrial areas as 
shown on the right. This "reef to ridge" project area had broad implications for 
their overall project. There is no one right choice, but each choice would mean 
a very different focus for the project.
</td>
<td>
<IMG width=310 height=176
src="icons/mesoamericanreef.jpg" 
border=0>
</td>
</tr></table>

<br>
<br>
<hr>
<H3>Example of Vision Statements</H3>
<P>The following are three examples of vision statements from WWF projects.</P>
<P><STRONG>Yangtze Basin - </STRONG>"A region where a living river links the 
Tibetan Plateau and the Pacific; where people thrive in harmony with nature, 
pandas play in the forests, children swim with dolphins and fish in the clear 
water, pheasants dance among the rhododendrons, and the cranes sing at sunrise. 
A region where natural cycles sustain a rich and ancient culture."</P>

<P><STRONG>Bering Sea</STRONG> - "Our vision of the Bering Sea is to ensure that 
species assemblages and abundances, community structure and ecological phenomena 
are maintained or restored within their natural ranges of variation. Within this 
long-term vision, the cultural diversity of indigenous peoples is a vital part 
of Bering Sea biodiversity. People locally and globally recognize the unique 
value of the Bering Sea and committed to conserving it. This also requires 
working together to minimize or eliminate the impacts of alien species and 
ensure there are no further human caused global or local extinctions." </P>

<P><STRONG>Javan Rhino Project</STRONG> - "The long-term survival of Javan 
Rhinos in and around Rhino National Park ensured for future generations."</P>

