<%= error_messages_for 'access_code' %>

<!--[form:access_code]-->
<p><label for="access_code_organization">Organization</label><br/>
<%= text_field 'access_code', 'organization'  %></p>

<p><label for="access_code_code">Code</label><br/>
<%= text_field 'access_code', 'code'  %></p>
<!--[eoform:access_code]-->

