<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/eg2-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Examples of the Diagram View</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>Conceptual Model Example</H3>
The following shows a conceptual model for the marine project.
<br> 

<P dir=ltr style="MARGIN-RIGHT: 0px">
<IMG src="icons/marinemodel1.png" width=788 height=547></P>

<br>
<HR>
<H3>Results Chain Example</H3>
The following shows a results chain for the same marine project.
<br> 

<img src='images/DiagramWizard/marine-RC_for_diagram_example.png' width='757' height='241'></img>

<p>More examples will be available in later versions of Miradi.</P>


