<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/workshop48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Workshop Hints for Diagrams</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<HR>
<H3>Using Diagrams in a Workshop</H3>
Developing a conceptual model or results chain is one of the activities that is best suited for a workshop format.&nbsp;If you are working with a project team with 3-10 people, then you can develop the workshop in a plenary session.&nbsp;If you are working with multiple project teams, your will probably want to send each team off into a breakout group to develop their own model. Finally, if you are working with one large project, then you may identify targets in plenary and then form breakout groups to develop the chains of direct threats, contributing factors, and strategies for each target.
<br>

<P>As a general rule, we recommend that you follow the process outlined in the interview screen, but that you do it using colored note cards to represent factors and tape or strips of paper to represent links.&nbsp;It works best if 
you can put the cards on a <STRONG>sticky tarp</STRONG> (see below), but you can also use a floor or table.&nbsp;The key is that you want to be able to readily move cards around and to combine or split them.&nbsp;You can hen&nbsp;either 
have one person serve as a recorder to capture the results in Miradi, or you can take a digital picture of the end-result and then transcribe it into Miradi.&nbsp;&nbsp; </P>

<P><IMG src="icons/floor1.jpg" width=244 height=222 border=0>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<IMG src="icons/bulletinbd.jpg" width=363 height=184 border=0></P>

<P>A <STRONG>sticky tarp</STRONG> (sometimes called a sticky board) is simply a large (2x3 meters is a good size) nylon tarp that has been liberally sprayed with a "retackable" artist’s adhesive (e.g., 3M Spray Mount Artist Adhesive #6065 – make sure you use the white can!) on one surface and allowed to air-dry. This creates a tacky surface that does not dry out and allows any paper item to stick to it and yet be readily repositioned. Always remember to fold the sticky tarp onto itself (i.e., sticky surface to sticky surface) and to open it carefully not to dislodge the glue from the tarp. Over time you may need to reapply the adhesive to the tarp. </P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

<IMG src="icons/3Mcan.jpg" width=67 height=196 border=0 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<IMG src="icons/stickytarp1.jpg" width=293 height=192 border=0 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<IMG src="icons/stickytarp2.jpg" width=239 height=190 border=0 >
</P>
