<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'><strong>Financial View</strong></p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p><strong>4A. Develop Detailed Work Plans</strong></p>
			<p><strong><i>Develop Project Budgets: Accounting Codes & Funding Sources<i></strong></p>

			<p> 
				To develop a budget, you will first want to create 
				<a href='Definition:AccountingCodes' class='definition'>accounting codes</a> and 
				<a href='Definition:FundingSources' class='definition'>funding sources</a>.
			</p>

			
			<p>
				On the <code class='toolbarbutton'>&lt;Accounting Codes&gt;</code> tab, if your project
				already has accounting codes from your home
			  	organization, you can use the <code class='toolbarbutton'>&lt;Import Accounting Code&gt;</code>
			  	button to import a 
			  	<a href='Definition:TabDelimitedFile' class='definition'>tab delimited text file</a> (2 columns, 
			  	code followed by description).  If you have to create 
			  	codes from scratch, click on the <code class='toolbarbutton'>&lt;Create Accounting Code&gt;</code>
			  	button to add a new one and then type the code and the 
 			  	label in the box at the bottom of the page.  
			  	Repeat for other codes as needed.
			</p>
			
			<p>
				On the <code class='toolbarbutton'>&lt;Funding Sources&gt;</code> tab, 
				click on the <code class='toolbarbutton'>&lt;Create Funding Source&gt;</code> button 
				to add a new one and then type the code (if needed) 
				and the label in the box at the bottom of the page.  
				Repeat for other sources as needed.   
			</p>
			
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>

          	<p>
          		<strong>Accounting</strong> codes are a set of categories developed by 
          		an organization to categorize and track expenses.  
          		They typically include hierarchical strings of numbers 
          		and/or letters (the code) along with a text description.  For example:
          	</p>
          
          
			<p>
				<strong>200.000 Core Salaries</strong><br></br>
				201.000  Director's salaries<br></br>
				202.000  Staff salaries<br></br>

			</p>          
			
			<p>
				Information that is tracked through the use of accounting codes can include:
			</p>          
			
			<ul>
			  <li>
			  	<p><strong>Expense Type -</strong> Salary, travel, equipment, etc.  This information is often used to help prepare reports to donors and/or tax returns.</p>
			  </li>          
			  <li>
			    <p><strong>Department -</strong> The branch of the organization that is incurring the expense.</p>
			  </li>          
			  <li>
			    <strong>Funding Source -</strong> Some organizations also use their codes to specify the specific funding source (although Miradi also treats this separately).</p>
			  </li>          
			  <li>
			    <p><strong>Other Information -</strong> Categories that the organization wants to track.</p>
			  </li>          
			</ul>
          
          <p>
          	It is likely that your home organization will already have a chart 
          	of accounts that they will want you to use. 
          </p>
          
          <p>
          Funding sources are, as the name implies, the sources of money 
          available to your project.  They are typically divided into:
          </p>
          
          <ul>
			  <li>
			  	<p><strong>Restricted sources -</strong> Funds such as a grant from a donor that are dedicated to a specific project or set of activities</p>
			  </li>          
			  <li>
			    <p><strong>Unrestricted sources -</strong> Funds that can be used in any way the project chooses</p>
			  </li>          
			</ul>
          
          
          </div>
        </td>
	</tr>
</table>
