<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'><strong>Financial</strong></p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p><strong>5A. Analyze Your Data</strong></p>
			<p><strong><i>Actual Expenditures - Demo<i></strong></p>

			<p> 
				This version of Miradi does not yet support this feature.
			</p>

			
			<p>
				Future versions of Miradi will allow you to 
				generate reports on <a href='Definition:ActualExpenditures' class='definition'>actual expenditures</a> across 
				different time periods by accounting code, activity, 
				funding source, and against budgets.
			</p>
			
			<p>
				It will include "Quicken" or "QuickBooks" style accounting functions and interface.
			</p>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>

			<p>
				<strong>Actual expenditures</strong> are backwards looking reports on the money 
				you spent for the activities/methods and tasks you undertook to implement 
				your strategic and monitoring plans.  They typically can be organized in several ways:
			</p>
			
			<ul>
			  <li>
			  	<p>
			  	<strong>By Accounting Code -</strong> Reports of money spent in each 
			  		accounting code category.  These are useful for 
			  		reporting to your organization's accounting 
			  		department and to donors.
			  	</p>
			  </li>          
			  <li>
			    <p>
			    <strong>By Activity -</strong> Reports of money spent by activity, strategy, 
			    	objective, and/or goal.  This is the basis for 
			    	Activity Based Costing (ABC) and is essential to 
			    	improve management effectiveness.
			    </p>
			  </li>          
			  <li>
			    <p>
			    <strong>By Funding Source -</strong> Reports of money spent by each 
			    funding source.  These are useful for managing 
			    your cash-flow and for reporting to donors.</p>
			  </li>          
			  <li>
			    <p>
			    <strong>Against Budgets -</strong> Reports of money spent against the projections in your budgets.  
			    These are useful for managing your cash-flow and 
			    for improving your forecasting ability over time. </p>
			  </li>          
			  
			</ul>
          
          </div>
        </td>
	</tr>
</table>
