<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'><strong>Financial View</strong></p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p>
			This view currently enables you to develop a 
			<a href='Definition:Budget' class='definition'>budget</a> for your project (in the future, it will also 
			enable you to manage <a href='Definition:ActualExpenditures' class='definition'>actual expenditures</a>).  
			A budget shows the costs and funding sources for the 
			<a href='Definition:Activity' class='definition'>activities</a>/<a href='Definition:Method'  class='definition'>methods</a> and 
			<a href='Definition:Task' class='definition'>tasks</a> that you need to 
			undertake to implement your strategic and monitoring 
			plans for each <a href='Definition:Quarter' class='definition'>quarter</a>.
	
			<p>
				<strong>Hint:</strong>The budget view takes the same 
				table that you developed in your work plan and adds 
				a financial dimension to it.	
			</p>
			
	
			<p><strong>Click next to begin developing a budget for your project.</strong></p>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            <p class='hintheading'><strong>Navigation Hints for the Budget View</strong></p>

          	<p>
          		Click on the Budget tab to <strong>see an overview of your budget.</strong>  
          		In the Budget tab, clicking on the + and - symbols enables 
          		you to <strong>expand</strong> or <strong>collapse</strong> different parts of the hierarchy.  
          		Items in the table can include activities, methods, and tasks 
          		(note that tasks apply to both activities and methods).  
          		Click on the buttons on the right to <strong>add, delete, or move 
          		an item up and down</strong> the hierarchy (note that this 
          		is the same functionality as in the Work Plan).
          	</p>
          
          
			<p>
				The bottom panel is used to <strong>assign</strong> resources to each 
				item and to estimate the costs of these resources.  
				Assignments can be made at the level of an activity/method 
				or its component tasks.  Each assignment can specify an 
				accounting code and a funding source.
			</p>          
			
			<p>
				You can <strong>edit accounting codes and funding sources</strong>
				directly by clicking on the relevant tabs.  Clicking 
				on a row in the table will allow you to bring up and 
				edit the information for that row.  Click on the 
				Resources tab to <strong>create, edit, or delete a resource.</strong>
			</p>          
          <p></p>
<table width='100%'><tr><td align='center'>
<img src='images/FinancialWizard/financial-nav.png' width='512' height='444'></img>
</td></tr></table>
          
          </div>
        </td>
	</tr>
</table>
