<p class='viewname'>Target Viability</p>

<BODY>


<P>For the March 2007 release of Miradi, viability analysis is functional in the 
dialogue box for each target in the diagram, but the summary view table has not 
yet been completed.</P>
<P>This page presents a demo of what the viability summary table will look 
like.</P>
<HR>

<P>If you are doing basic viability analysis, your summary might look like:</P>
<P><IMG src="images/TargetViability/summarytree_simple.png" width='465' height='211' border=0></P>
<HR>

<P>If you are doing detailed viability analysis, your summary table might look 
like:</P>
<P><IMG src="images/TargetViability/summarytree_full.png" width='693' height='366' border=0></P>

