<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Target Viability</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>Viability Analysis</p>
			<P>1B. Define Clear and Common Purpose</P>
			<P><STRONG>Describe Status of Targets</STRONG></P>
			<P>Click on any target in the summary 
			table&nbsp;to display the viability rating&nbsp;details for that 
			target.&nbsp;You can also click on a target in the diagram to see these 
			details.</P>
			
			<!--<P><SPAN style="FONT-FAMILY: Verdana"><FONT color=#4000ff><STRONG>Which target 
			do you want to work on?</STRONG> </FONT></SPAN></P>
			<P><SPAN style="FONT-FAMILY: Verdana"><FONT color=#4000ff>&nbsp;&nbsp; -- drop 
			down box to select target</FONT></SPAN></P> -->
			
			<P>Miradi currently supports two 
			complementary methods for assessing target status.&nbsp;Click the box to 
			indicate which method you would like to use for this target.&nbsp;You can also 
			set a global preference for your project using the preferences 
			menu.</P>
			
			<!--<P><SPAN style="FONT-FAMILY: Verdana"><FONT color=#4000ff><STRONG>Which method 
			do you want to use for this target?</STRONG> </FONT></SPAN></P>
			
			<P><SPAN style="FONT-FAMILY: Verdana"><FONT color=#4000ff>&nbsp;&nbsp; O Basic 
			viability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O&nbsp;TNC style 
			viability</FONT></SPAN></P></SPAN></FONT>
			
			
			<P>&lt;Previous&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			Next&gt;</P>
			<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Done with Viability Analysis</P>-->
			
			<!--<P><FONT color=#ff0000>&nbsp;+++++++++++++++++++++++++++++</FONT></P>
			<P><STRONG><FONT color=#ff0000>Button Links</FONT></STRONG></P>
			<P><FONT color=#ff0000><STRONG>Previous</STRONG> -Viability&nbsp;Overview 
			(viability 
			1a)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 
			Step by Step 1B: Clear and Common Purpose - Describe Status of 
			Targets<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 
			Diagram View 1B: Clear and Common Purpose -&nbsp;Review and 
			Modify&nbsp;Targets</FONT></P>
			<P><FONT color=#ff0000><STRONG>Next</STRONG> - If choose TNC Style, Viability 
			3a<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - If choose Basic Viability, 
			BasicViability 1</FONT></P>
			<P><FONT color=#ff0000><STRONG>Done with Viability Analysis</STRONG> - 1C: 
			Identify Critical Threats</FONT></P>-->
			
			
			
			
			
			
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
            		      <tr>
                    		<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
                    		<td align='left' valign='top'>&nbsp;</td>
                    		<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
                    		
                  		</tr>

                  		<tr>
                    		<td align='left' valign='top'>&nbsp;</td>
                    		<td align='left' valign='top'><input type='submit' name='DoneViabilityAnalysis' value='Done with Viability Analysis'/></td>
                    		<td align='left' valign='top'>&nbsp;</td>
                  		 </tr>
                		</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            

          	<P><STRONG>Two Methods for Viability Analysis</STRONG></P>
			<P>Miradi currently supports two methods for viability analysis.</P>
			<UL>
			  <LI><STRONG>Basic Viability Analysis</STRONG> - This method asks 
			  you to think about each target and to identify specific <STRONG>goals</STRONG> 
			  that outline the desired future condition of the target for your 
			  project.&nbsp;It then asks you to develop specific <STRONG>indicators</STRONG> 
			  that might be used to measure each goal.&nbsp;This method is relatively simple 
			  and very flexible, but&nbsp;does&nbsp;not readily lend itself 
			  to&nbsp;systematic assesment of target viability.&nbsp;<BR>
			  
			  <LI><STRONG>TNC Style Viability Analysis</STRONG> - This method 
			  asks you develop specific <STRONG>key ecological attributes 
			  (KEAs)</STRONG>&nbsp;for each target and specific <STRONG>indicators</STRONG> 
			  for each KEA.&nbsp;It then has you&nbsp;determine - to the best of your 
			  ability - an <STRONG>acceptable range of variation</STRONG> for each 
			  indicator, or in other words, to determine what a healthy target would look 
			  like.&nbsp;Finally, the method requires that you specify both the 
			  <STRONG>current status</STRONG> of each indicator as well as the 
			  <STRONG>desired&nbsp;future status</STRONG> (also known as a 
			  <STRONG>goal)</STRONG>.&nbsp;This method is more systematic and enables 
			  comparisons across projects, but is more complex to design and 
			  implement.
			 </LI>
			</UL>
			<P>It is important to note that both methods have the same ultimate 
			outputs - the&nbsp;goal for each target and the&nbsp;indicator that will be used 
			to assess progress towards this goal.&nbsp;&nbsp; </P>
			          	
          </div>
        </td>
	</tr>
</table>
