<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View (Detailed Viability Analysis)</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>1B. Define Clear and Common Purpose</p>
			<P class='taskheading'>Describe Status of Targets</P>
				
				<P>The next step is to develop&nbsp;one or more 
				<a href='Definition:Indicator' class='definition'>indicators</a>
				for each KEA.</P>
				<P>To create a new indicator, make sure the KEA is selected in the upper panel, 
				and click the <code class='toolbarbutton'>&lt;Create Indicator&gt;</code> 
				button.&nbsp; Fill in the following fields:</P>
				<UL>
				  <LI><STRONG>Indicator:</STRONG> The name of 
				  the indicator.&nbsp;Generally 2-5 words (e.g., Number of Sharks).</LI>
				  <LI><STRONG>Short Label: </STRONG>The text 
				  that will appear in the indicator symbol on the diagram.&nbsp;Often a number 
				  (e.g., "3" or "17").</LI>
				</UL>
				<P>
				Click on the priority and progress boxes to assign the appropriate 
				level to each indicator. </P>
				<P>
				      <!--<P><FONT color=#4000ff>To use or adapt an existing&nbsp;indicator click 
				      the <FONT color=#996633>&lt;pick indicator&gt;</FONT> button and then 
				      select the desired&nbsp;indicator from the list.&nbsp;You can also use the 
				      <FONT color=#996633>&lt;search database&gt;</FONT> button to look for 
				      indicators that other projects have used for similar targets and 
				      KEAs.</FONT>&nbsp; </P> -->
				      To edit or delete an indicator, click on the indicator in the upper panel, 
				      and then either edit the fields in the lower panel, or click on the 
				      <code class='toolbarbutton'>&lt;Delete Indicator&gt; </code>button. 
				</P>
			
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
				            
				            <P>Although key ecological attributes are specific descriptions of an aspect of 
				a target, they are generally still too broad to measure or assess in a 
				cost-effective manner over time. To this end, it is important to develop 
				<STRONG>indicators</STRONG> that can be used to assess the attribute over time. 
				An indicator, in simplest terms, is what you measure to keep track of the status 
				of a key ecological attribute.</P>
				<P>In many cases an indicator can be the same as the attribute itself. For 
				example, if your attribute is population size, the indicator may be the number 
				of individuals in the population if you can count this number directly. If you 
				cannot count this number directly, then your indicator will specify how you will 
				measure this number – for example, for a fish population, as catch per unit 
				effort using a specific technique at a given time of the year. 
				</P>
				<p>In other cases, 
				however, developing a good indicator will require a bit more thinking to find a 
				way of measuring the attribute over time. For example, if your attribute is the 
				water quality of a stream, it is not possible to measure every physical and 
				chemical parameter. Instead, you would select a few representative parameters – 
				for example water temperature and oxygen levels – that you feel can represent 
				the overall water quality. You can also combine several measurable properties 
				into a composite indicator or index.</P>
				<P>Indicators frequently involve some type of quantitative assessment – such as 
				number of acres, recruitment rate, age class sizes, percent of cover, or 
				frequency of fire of a given intensity. Other indicators may involve measurable 
				elements that are not numerical, such as the seasonality of fire or flooding. 
				</P>
				<P>Indicators can be assigned different priorities as follows:</P>
				<UL>
				  <LI><STRONG>Very High:</STRONG> Must be monitored 
				  <LI><STRONG>High:</STRONG> High priority for monitoring 
				  <LI><STRONG>Medium:</STRONG> Moderate priority for monitoring 
				  <LI><STRONG>Low:</STRONG> Monitor only if resources allow</LI></UL>
				<P>You can record the current&nbsp;progress in monitoring each indicator as 
				follows:</P>
				<UL>
				  <LI><STRONG>Fully on Schedule: </STRONG>Monitoring going as planned or better 
				  <LI><STRONG>Going Well:</STRONG> Monitoring generally progressing 
				  <LI><STRONG>Problems Implementing:</STRONG> Monitoring encountering some 
				  challenges 
				  <LI><STRONG>Not Started:</STRONG> Little or no work done to 
				date</LI></UL>
          	
          </div>
        </td>
	</tr>
</table>
