<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Target Viability</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>Viability Analysis</p>
			<P><EM><STRONG>Develop Indicator Ratings, con't</STRONG></EM></P>
			<P>You can then specify the thresholds for 
			the&nbsp;other boxes in the rating table as desired.&nbsp;As you get more 
			information, you can convert initial estimates into more specific&nbsp;values. 
			For example, in the diagram below, for controlled burns on the grassland, the 
			team fills out the following specifications of fire frequency:</P>
			<P>
				<IMG src="images/TargetViability/6a_indicator_rating2.png" border=0 width='388' height='159'>
			</P>
			<P>As you develop your indicator ratings, you 
			can right (alt) click on the box to add a comment describing your assumptions in 
			greater detail.&nbsp;You can also use the <FONT color=#996633>&lt;rating 
			source&gt;</FONT><STRONG> </STRONG>drop down button to describe where these 
			ratings came 
			from.</P>
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
				            
			To track the source of your ratings, use the following 
				scale:</P>
				<UL>
				  <LI><STRONG>Rough Guess</STRONG> - Values are rough estimates by project team 
				  members. They are often an initial placeholder value meant to be improved down 
				  the road through use of other methods. 
				  <LI><STRONG>Expert Knowledge</STRONG> - Values are more refined estimates 
				  provided by experienced, reliable observers. These experts may be project team 
				  members, professionals managers, researchers, or members of a traditional 
				  community that have reason to take note of the conditions of interest and the 
				  experience necessary to provide reliable information. 
				  <LI><STRONG>External Research</STRONG> - Values are derived from research on 
				  this target at other comparable project sites, often obtained from published 
				  and unpublished scientific literature. 
				  <LI><STRONG>Onsite Research</STRONG> - Values are derived from research on 
				  this target at the project site. Note that this can include adaptive 
				  management by the project team!</LI></UL></FONT>
				
          </div>
        </td>
	</tr>
</table>
