<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View (Detailed Viability Analysis)</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>1B. Define Clear and Common Purpose</p>
			<P class='taskheading'>Describe Status of Targets</P>
			
			<P>The next step is to develop&nbsp;<U>indicator ratings</U> for each indicator.</P>
			<P>For a selected indicator, select the "good" box in the indicator ratings table 
			and type in the good box what you think the minimum 
			<U>acceptable range of variation</U> might be for that 
			indicator.&nbsp;&nbsp;You can then also specify what might be in the "fair" 
			box.&nbsp;For example, a project team might say that&nbsp;an indicator for a 
			grassland target is the presence of regular fire events.&nbsp;They might lay out 
			an initial estimate as follows:</P>
			<P>
			<IMG src="images/TargetViability/5a_indicator_rating1.png" border=0 width='388' height='159'></P>
			<P>
			<STRONG>Hint:</STRONG>&nbsp;&nbsp;Developing 
			indicator ratings is an adaptive process.&nbsp;You should not expect to 
			immediately&nbsp;specify highly quantitative and precise 
			thresholds.&nbsp;Instead, in your first pass through the table, you may only 
			have qualitative assessments.&nbsp;
			
			<!--Click the <code class='toolbarbutton'>&lt;Example&gt;</code> button 
			to see in greater detail&nbsp;how this adaptive process develops over time.-->
			</P>

			
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            
            <P>Key ecological attributes and their associated indicators provide a way to 
				assess the status of a target over time. But by themselves, they are not 
				sufficient to determine the health of a given target. Instead, they need to be 
				placed in an appropriate context or frame of reference. Just as a healthy 
				person’s pulse rate or blood pressure changes over the course of a day and over 
				a lifetime, most key ecological attributes will vary over time. For example, the 
				size of migratory fish population might go up and down on a year-to-year basis. 
				As shown in the figure below, however,
				<P>
				<IMG height=295 alt="" hspace=10 src="images/TargetViability/5b_criticalthresh.png" width=402 align=right vspace=10 border=0> 
				</P>
				there is a difference between a population size that is within the <STRONG>acceptable range of variation 
				</STRONG>(ARV) and one that is outside this acceptable range. For some 
				attributes, this acceptable range is one-sided (for example, it may be possible 
				to have too little, but not too much of a particular kind of forest within a 
				project area). For other attributes, the acceptable range is two-sided (for 
				example, there can be too many or too few deer per hectare in the forest). In 
				some cases, we may be able to precisely determine critical thresholds that 
				clearly mark the boundary of this acceptable range, whereas in other cases we 
				can only approximate where these thresholds might be. These thresholds, however, 
				establish what you determine as the acceptable range of variation for your 
				target.</P>
				<P>Once you have estimated the acceptable range of variation for an attribute, 
				you can then go on to specify the viability rating scale. This scale involves 
				establishing the following boundaries for an indicator based on your 
				thresholds:</P>
				<UL>
				  <LI><STRONG>Very Good</STRONG> – Ecologically desirable status; requires 
				  little intervention for maintenance. 
				  <LI><STRONG>Good</STRONG> – Indicator within acceptable range of variation; 
				  some intervention required for maintenance. 
				  <LI><STRONG>Fair</STRONG> – Outside acceptable range of variation; requires 
				  human intervention. 
				  <LI><STRONG>Poor</STRONG> – Restoration increasingly difficult; may result in 
				  extirpation of target. 
					</LI>
				</UL>
				
				<P>In effect, by establishing this rating scale, you are specifying your 
				assumption as to what constitutes a "conserved" target versus one that is in 
				need of management intervention. This rating scale is directly analogous with 
				the established pulse rate and blood pressure ranges that a doctor uses to 
				determine whether a patient’s circulatory system – and thus by extension the 
				entire patient – is healthy. Although ideally you would define all four boxes of 
				the rating scale, in many projects, you may find that you can only define one or 
				two key boxes – for example the threshold between Fair and Good – especially in 
				early stages of your work.</P>
				          	
          </div>
        </td>
	</tr>
</table>
