<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View (Detailed Viability Analysis)</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>1B. Define Clear and Common Purpose</p>
			<P class='taskheading'>Describe Status of Targets</P>

			<P>
				The&nbsp;final step is to determine the&nbsp;<U>desired future status</U>&nbsp;(also known as a <U>goal</U>) for 
				each indicator.
			</P>
			
			<P>For a selected indicator, fill in the following fields:</P>
			
			<ul>
			<li><strong>Future Status:&nbsp;</strong>&nbsp;The name of this goal. Generally 2-5 words.</LI>
			<li><strong>Short Label:&nbsp;</strong>&nbsp;The text 
				  that will appear in the goal symbol on the diagram.&nbsp;Often a letter
				  (e.g., "A")</LI>
			<LI><STRONG>Rating:&nbsp;</STRONG>&nbsp;What rating category you want the indicator to be in.</LI>
			<LI><STRONG>Date:</STRONG>&nbsp;The date of the desired future status.</LI>
			<LI><STRONG>Summary:</STRONG>&nbsp;Brief description of the&nbsp;desired future&nbsp;value of the indicator. </LI>
			<LI><STRONG>Detail:</STRONG>&nbsp;Full description of the&nbsp;desired future value of the 
			indicator.&nbsp;</LI>
			</ul>
			<P>
				Miradi will automatically display the goal summary, along with an icon, 
				in the cell of the indicator ratings table corresponding to the desired 
				future status.
			</P>
			<P>
			
			<!--<P><FONT color=#ff0000>+++++++++++++++++++++++++++++</FONT></P>
			<P><STRONG><FONT color=#ff0000>Button Links</FONT></STRONG></P>
			<P><FONT color=#ff0000><STRONG>Next</STRONG> - Viability2a (complete 
			loop)</FONT></P>-->

			
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
				            
				<P>The current status rating describes the indicator rating category where your 
				key ecological attribute is today; the <STRONG>desired status</STRONG> rating 
				describes where you want to be in the future.&nbsp;The desired&nbsp;future 
				status is a <STRONG>goal </STRONG>for your project.&nbsp;You should consider the 
				appropriate spatial extent and time frame for achieving the desired status; some 
				changes may require long time periods (50-100 years). 
				</P>
				
				<P>A goal technically has more than just the indicator value - it&nbsp;is a 
				formal statement detailing a desired impact of a project.&nbsp; A good goal 
				meets the criteria of being: </P>
				<UL>
				  <LI><STRONG>Linked to Targets:</STRONG> Directly associated with one or more 
				  of your biodiversity targets 
				  <LI><STRONG>Impact Oriented:</STRONG> Represents the desired future status of 
				  the target over the long-term 
				  <LI><STRONG>Measurable:</STRONG> Definable in relation to some standard scale 
				  (numbers, percentage, fractions, or all/nothing states) 
				  <LI><STRONG>Time Limited:</STRONG> Achievable within a specific period of 
				  time, often 10 or more years 
				  <LI><STRONG>Specific: </STRONG>Clearly defined so that all people involved in 
				  the project have the same understanding of what the terms in the goal mean 
				  </LI></UL>  	
          </div>
        </td>
	</tr>
</table>
