<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0></td>
			<td width='20'>
		</td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
			<STRONG>More Information About the Planning View</STRONG></FONT>&nbsp;
		</td>

	</tr>
</table>
</p>

<br>
<HR>
<H3>An Overview of the Planning View</H3>
The planning view enables you to take the information from your conceptual models and results chains and display it in a more traditional tree or table form. Miradi has a number of default planning sub-views including:
<br>

<ul>
<li><b>Strategic Plan</b> - A plan for how your project will change the project situation. 
Shows the relationship between a project's 
<a href='Definition:Goal' class='definition'>goals</a>, 
<a href='Definition:Objective' class='definition'>objectives</a>, and 
<a href='Definition:Strategy' class='definition'>strategies</a>.</li>

<li><b>Monitoring Plan</b> - A plan for collecting information that you and others need to know about your project. 
Includes the 
<a href='Definition:Indicator' class='definition'>indicators</a> 
that you will track over time as well as the 
<a href='Definition:Method' class='definition'>methods</a> 
that you will use.</li>

<li><b>Work Plan</b> - A description of the specific 
<a href='Definition:Activity' class='definition'>activities</a>/<a href='Definition:Method' class='definition'>methods</a> and 
<a href='Definition:Task' class='definition'>tasks</a> that you need to undertake your strategic and monitoring plans. 
Shows the timing and sequence of each task as well as the specific <a href='Definition:Resource' class='definition'>resources</a> required to carry it out. Most projects will only do a detailed work plan for the next 1-2 years of their project.</li>

<li>
<b>Goals Only, etc.</b> - Shows all of your 
<a href='Definition:Goal' class='definition'>goals</a>, 
<a href='Definition:Objective' class='definition'>objectives</a>, 
<a href='Definition:Strategy' class='definition'>strategies</a>,
<a href='Definition:Activity' class='definition'>activities</a>,
<a href='Definition:Indicator' class='definition'>indicators</a>, 
<a href='Definition:Method' class='definition'>methods</a>, or 
<a href='Definition:Task' class='definition'>tasks</a> 
in one table for quick comparisons and editing.</li>
</ul>

<p>In addition to these standard planning views, Miradi also enables you to create 
your own custom planning views.</p>

<p>The Miradi Planning Views are related to the logical frameworks (logframes) and other planning tools traditionally used by practitioners in conservation and development. However, because they are based on the conceptual model and results chains, they are not limited to rigid columns in the way that these tools often are.</P>


<br>
<HR>
<H3>More Information About Planning</H3>
<P dir=ltr>More information about developing strategic, monitoring, and workplans can be found in:</P>
<br>

<b>FOS Materials</b>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  Margoluis, R., and N. Salafsky. 1998. <EM>Measures of Success: Designing, Managing, and Monitoring Conservation and Development Projects, Chapter  3.</EM> Island Press, Washington, DC.<BR>&nbsp;&nbsp;&nbsp;&nbsp; </FONT>
<A href="http://islandpress.org"><U><FONT color=#0000ff>http://islandpress.org</U></FONT></A></P>
</BLOCKQUOTE>

<br>
<b>WWF Materials</b>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">

WWF. 2006. <EM>Basic Guidance for Step 2.1: Design Action Plan: Goals, Objectives, and Activities</EM>&nbsp;<BR>&nbsp;&nbsp;&nbsp; <A href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://www.panda.org/standards/2_1_action_plan">http://www.panda.org/standards/2_1_action_plan</A></P>

  <P>WWF. 2006. <EM>Basic Guidance for Step 2.2: Monitoring Plan</EM>&nbsp;<BR>&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://www.panda.org/standards/2_2_monitoring_plan">http://www.panda.org/standards/2_2_monitoring_plan</A></P>

<P>WWF. 2007. <EM>Basic Guidance for Step 3.1: Work Plans and Budgets</EM>&nbsp;<BR>&nbsp;&nbsp;&nbsp; <A 
  href="http://www.panda.org/standards">www.panda.org/standards</A> or <A 
  href="http://assets.panda.org/downloads/3_1_workplans_and_budgets_02_27_07_1.pdf">http://assets.panda.org/downloads/3_1_workplans_and_budgets_02_27_07_1.pdf</A></P>
</BLOCKQUOTE>

<br>
<b>TNC Materials</b>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
 TNC. 2007. <EM>Conservation Action Planning Toolbox. 6. Develop Strategies: Objectives and Actions.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_6">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_6</A></P>

 <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 7. Establish Measures.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_7">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_7</A></P>

 <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 8. Develop Workplan.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_8">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_8</A></P>
</BLOCKQUOTE>

