<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/eg2-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Examples of Viability Analysis</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<H3>Viability Analysis Examples</H3>
Viability analysis sometimes seems to be very detailed and technical. Often, project teams get stuck trying to come up with perfect benchmarks of target health, especially when the scientific information needed to establish these benchmarks is often lacking or inadequate. In these cases, project teams should rely on general ecological concepts, comparisons to other similar systems, well-informed expert opinion, or failing that, the team members' best estimate to determine a "credible first iteration" of the benchmarks and assessment of the current rating.
<br>

<P>For the initial planning, it is often sufficient to describe the benchmarks for Good and Fair, since this distinction is the most important for determining the need for management actions. As shown in the following example, if you treat this as the first step in an iterative process, you can almost always put some initial thinking down. Identifying gaps and weaknesses in existing knowledge is also crucial to help you spur investigations to improve the state of knowledge about your focal targets.</P>

<P>For example, suppose a project team is working on a project with a grassland target. They decide that one of the key ecological attributes is fire regime and the indicator of the fire regime is fire frequency. They know that the grassland that they are responsible for managing is full of woody species and the grasses and forbs are not flowering well and they haven't seen some grassland nesting bird species in a few years. As a result, they are pretty certain that the grassland needs to burn, but they don't know how frequently the grassland would burn in a natural state. So in their first pass, the team fills out the viability rating scale as follows:</P>

<P><IMG 
src="images/TargetViability/viability_example_1.png"  width='557' height='232'
border=0></P>

<P>This team has defined Fair as being "fire not frequent enough" and Good as being "fire frequent enough." This is perfectly acceptable for their first attempt. Later, the team locates a local grassland expert. She tells them that 
fire should occur every 5-10 years to maintain the structure of this type of grassland. This additional information enables them to fill out the table as:</P>

<P><IMG 
src="images/TargetViability/viability_example_2.png"  width='555' height='232'
border=0></P>

<P>Reviewing the literature and consulting with experts, the team comes to realize, however, that it is not just the presence of fire anywhere on the site that matters, but that a sufficient portion of the site should burn on a regular 
interval. To this end, over a few years, the team does some more research about the frequency of fires and they redefine their indicator and ratings as follows:</P>

<P><IMG 
src="images/TargetViability/viability_example_3.png"  width='557' height='232'
border=0></P>

<P>Any of the above outcomes is acceptable for a first iteration of your viability analysis depending on the level of information available.</P></BODY></HTML>
