<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0>
		</td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Viability Analysis </STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<H3>An Overview of Viability Analysis</H3>
A key step in managing any system is to develop a good understanding of what you are trying to accomplish. In particular, you need to be able to define specific future goals, assess the current status of the system today, and measure your progress as you move towards these goals. For example, medical doctors define healthy individuals as having, among other things, a pulse rate and blood pressure within an appropriate range for their age and condition. If a patient is outside of the normal range, then the doctor can prescribe therapy and then monitor the patient's condition over time as they hopefully move towards a desired goal in the normal range.
<br>

<P>This process of setting measurable goals is particularly challenging for the focal conservation targets used by biodiversity projects. Most focal conservation targets are themselves very complex systems that vary naturally 
over time. It is thus not easy to define or measure the "health" of a bear or migratory fish population, a forest, or a coral reef in a systematic and repeatable fashion. Target Viability Analysis is a flexible and yet powerful methodology that has been developed to help solve this problem, based on sound ecological principles. It provides a consistent framework for defining the current status, and desired future condition of focal conservation targets. </P>

<P>Viability analysis has primarily been developed by The Nature Conservancy.&nbsp;The Conservancy has published a number of different guides to doing viability analysis. The best basic guide is:</P><BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>TNC. 2007. <EM>Conservation Action Planning Toolbox. 3. Assess Viability of 
  Focal Conservation Targets.<BR></EM>&nbsp;&nbsp;&nbsp;&nbsp;<A 
  href="http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_3">http://conserveonline.org/workspaces/cbdgateway/cap/practices/bp_3</A></P></BLOCKQUOTE>

<P>More detailed guidance is available in:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P>Parrish, J.D., D.P. Braun, and R.S. Unnasch. 2003. Are we conserving what 
  we say we are? Measuring ecological integrity within protected areas. 
  <EM>Bioscience</EM> 53: 851-860.</P>
  <P>Braun, D.P. 2007. <EM>Advanced Guidance for Step 3: Assessing the Viability 
  of the Focal Conservation Targets.</EM> The Nature 
Conservancy.</P></BLOCKQUOTE></BODY></HTML>
