<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Miradi</title>
  <%= stylesheet_link_tag 'miradi' %>
</head>

<body>
<table width='100%' cellspacing='0' cellpadding='0'>
<tr>
<td class='banner' align='center' margin='20'>
<a href='/'><img class='homeicon' src='/images/miradi64.png' border='0'/></a>
</td>
<td class='banner'>
<p class='miradihead'>Miradi <sup><font size='-2'>TM</font></sup></p>
<p class='miradisub'>Adaptive Management Software for Conservation Projects</p>
</td>
</tr>

<tr>
<td class='menu' valign='top'>
<p class='menuitem'><%= link_to "Miradi Home", '/' %></p>
<p class='menuitem'><%= link_to "Our Vision", '/vision' %></p>
<p class='menuitem'><%= link_to "CMP Open Standards", '/openstandards' %></p>
<p class='menuitem'><%= link_to "Software Features", '/features' %></p>
<p class='menuitem'><%= link_to "About CMP and Benetech", '/aboutcmp' %></p>
<p class='menuitem'><%= link_to "Contact Us", '/contact' %></p>
<p class='menuitem'><%= link_to "Download Miradi", '/download' %></p>
<p class='menuitem'><%= link_to "Help / FAQ", '/help' %></p>

<% if session[:user] %>
<p class='loggedinas'>
<%= session[:user].email %>
<br/> 
<%= link_to "Logout", "/login/logout" %>
</p>
<% end %>

</td>

<td class='content' valign='top'>
<p style="color: red"><%= flash[:error] %></p>
<p style="color: orange"><%= flash[:warning] %></p>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>
</td>
</tr>
<tr><td class='footer' colspan='2'>
Copyright 2007, 
<%= link_to "Conservation Measures Partnership", 'http://conservationmeasures.org' %> and
<%= link_to "Benetech", 'http://benetech.org' %>.
For more information: 
<IMG src="/images/email_info_8pt.png" border=0 align='absMiddle'>
</td></tr>
</table>

</body>
</html>
