<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<p class='processsection'>1D. Analyze Project Situation:</p>
<p class='taskheading'>Identify Indirect Threats and Opportunities</p>
<p>
To insert 
<a href='Definition:IndirectThreat' class='definition'>contributing factor</a> 
and 
<a href='Definition:IndirectThreat' class='definition'>opportunities</a>, 
select a threat and brainstorm 
what you think is driving that threat. Select the threat and click the 
<code class='toolbarbutton'>&lt;Insert Contributing Factor&gt;</code>
button on the legend or toolbar.
</p>
<p>
The software will add a new contributing factor and open a dialog box in which 
you can type the name and a comment. Using the mouse or arrow keys, move the 
factor to wherever you want it to be.  In most models, factors further away 
from the target are placed out to the left-hand side of the page.
</p>
