<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<p class='processsection'>1B. Define Clear & Common Purpose:</p>
<p class='taskheading'>Review and Modify Targets</p>
<p>
Review your targets and determine if any should be split or lumped.
</p>
<p>
You can split targets by adding a new one and then renaming the 
old one (double click on the target and type the new name).
</p>
<p>
You can lump targets by deleting an existing target 
(select the target and hit delete on the keyboard) and renaming
the remaining one (double click on the target and type the new name).
</p>