<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View (Results Chains)</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>2B. Develop Strategies</p>
			<p class='taskheading'>Develop Results Chains for Key Strategies</p>
			
			<p>Results chains are a key tool for developing strategies.To begin, 
			click on a strategy in the diagram. Next, click on the 
			<code class='toolbarbutton'>&lt;Create Results Chain&gt;</code>
			 button (available either on the toolbar or by right-clicking the mouse). This will 
			 create a new tab in the diagram window that has the strategy and linked factors on it.</p>

  			<p>You can include multiple factors in your new results chain by selecting them 
  				before clicking the <code class='toolbarbutton'>&lt;Create Results Chain&gt;</code> button.</p>

  			<p>If there is a chain icon shown in a strategy hexagon, you 
  				can view the existing results-chain by either clicking on the 
  				appropriate tab or by clicking on the strategy 
  				and then using the <code class='toolbarbutton'>&lt;Show Results Chain&gt;</code> button 
  				(available either on the toolbar or by right-clicking the mouse).</p>
		
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            
			<P>
				A <STRONG>results chain</STRONG> is a tool that clarifies 
				assumptions about how conservation activities are believed to contribute to 
				reducing threats and achieving the conservation of biodiversity or thematic 
				targets. They are diagrams that map out a series of causal statements that link 
				factors in an "if...then" fashion - for example, if a threat is reduced, then a 
				biodiversity target is enhanced or if an opportunity is taken, then a thematic 
				target might be improved. In some organizations, results chains are also termed 
				logic models. 
				</p>
				<p>
				The basis for a results chain comes from your conceptual 
				model, but you will build on that model to make it more specific and to change 
				the boxes from neutral factors describing the current state of the world to 
				results you want to see. As shown below, results chains are composed of a 
				strategy, desired outcomes including <STRONG>intermediate results</STRONG> and 
				<STRONG>threat reduction results</STRONG>, and the ultimate impact that these 
				results will have on the biodiversity target.
			</P>
			
            <table>
              <tr>
              	<td align='right'>
              		<img border='0' src="images/DiagramWizard/rc.png" width= '360' height='60'>
              	</td>
              </tr>
            </table>
          
          </div>
        </td>
	</tr>
</table>
