<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>2B. Develop Strategies - Results Chains</p>
			<p class='taskheading'>Complete the Links in the Results Chain</p>
			
				<P>
				<P>The next - and most difficult - step is to complete the results chain, adding 
				all the intermediate results necessary to create clear, logical "if...then" 
				linkages along the chain.</P>
				<P>You can add, edit, and delete results chain factors and links in the same way 
				that you would in the normal diagram view. In addition, if you have 
				selected a link, you can add a new intermediate result that will appear between 
				the two factors in the link.</P>
				<P>Once a results chain has been created from a conceptual model, Miradi does 
				not retain links between the factors. You can thus delete or reposition a 
				factor from a results chain without affecting the original diagram.
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
				            
				<P>There are several different ways to approach building a results chain.</P>
				
				<P>One way is to work from the left to the right, asking what the immediate 
				results of the strategy should be, what intermediate results they will in turn 
				produce, and what additional results are necessary to reduce your threat.
				</p>
				<p> 
				Another way is to work from right to left, asking what needs to happen to reduce 
				the threat, what intermediate results are needed to make that happen, and so on. 
				Yet another way is to brainstorm intermediate results and then organize them 
				along the chain, assuring that there are clear "if...then" linkages between each 
				pair of results. 
				</P>
				
				<P>If you are developing a new strategy for a threat that you have not addressed 
				in the past, we recommend building the chain from right to left, so that you are 
				clear about what you need to accomplish to minimize the impact of this threat on 
				your targets. 
				</p>
				<p>
				For example, if you are beginning to address tourism 
				infrastructure development as a threat to a coastal-marine system, then you'll 
				need to determine if tourism infrastructure is degrading coastal ecosystems 
				because it is not sited in appropriate areas (which could be addressed through 
				better planning) or if the problem is that builders use coral, mangrove and 
				other raw materials extracted from coastal and marine ecosystems to build the 
				hotels (which would require the identification and promotion of alternative 
				building materials). 
				</p>
				<p>
				If, however, you understand the threat well and have a few 
				years of experience applying a specific strategy, then it may be easier to build 
				the chain from left to right.
				</P>
          </div>
        </td>
	</tr>
</table>
