<p class='viewname'>Diagram View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>1C. Understand Project Context:</p>
<p class='taskheading'>Identify Direct Threats</p>
<p>
To insert a <a href='Definition:DirectThreat'>direct threat</a>, select a target and then click the 
<Insert a Direct Threat> button. The software will add a new 
direct threat linked to the target and open a dialogue box.  
</p>
<p>
Type the name of the direct threat. You can also add additional 
information about the threat in the comment box. 
You should also pick the entry that best describes your threat 
from the standard classification of direct threats in the drop-down menu.
</p>
<p>
Using the mouse or arrow keys, move the threat to wherever you want it to be.
</p>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
</td>
<td class='navigation' width='55%' align='left' valign='top'>
<p>
<strong>Direct threats</strong> are primarily human activities that immediately 
affect a biodiversity target (unsustainable fishing, hunting, 
oil drilling, construction of roads, pollution or introduction 
of exotic invasive species).
</p>
<p>
They can also, however, include natural phenomena altered by 
human activities (global warming caused by fossil fuel use) 
or natural phenomena whose impact is increased by other human 
activities (a tsunami that threatens the last remaining population 
of an Asian rhino).
</p> 
<p>
<strong>Hint: </strong> It is important to distinguish between 
the direct threats that immediately affect biodiversity targets 
and the indirect threats (also called root causes) that lead to 
the direct threats. In this step, you should only consider direct threats.
</p>
<p>
<strong>Hint: </strong>	You may want to browse the 
<a href=''>Classification of Direct Threats</a> 
for ideas of direct threats. 
</p>
</td>
</tr>
</table>