<div style='font-family: arial;'>
<h2>Diagram</h2>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'></td>
<td align='left' valign='top' width='55%'></td>
</tr>
<tr>
<td align='left' valign='top'>
<p>This view enables you to develop a 
<a href=''>conceptual model</a>
 of your project. A good conceptual model
graphically depicts your project’s targets, direct
threats, indirect factors, and interventions – and
more importantly, the relationships between
them.
</p>
<p>
As in any modeling exercise, you should not try
to show all factors and relationships, but only the 
most important ones.
</p>
<p>
<strong>
Click next to begin developing a model of
your project.
</strong>
</p>
<br></br>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
<br></br>
</td>
<td align='left' valign='top' bgcolor='#eeeeee'>
<h3>Navigation Hints for the Diagram View</h3>
<p><font size='-1'>
To 
<strong>add a new target or other factor</strong>, 
click the appropriate button on the tool bar
use the drop down menu, or use the left mouse button. The new factor will
appear in the center of the page. If a factor is selected, to 
<strong>reposition a factor</strong
you can then use the mouse or arrow keys to move it wherever you like.
</font></p>
<p><font size='-1'>
Double clicking on a factor will bring up a dialogue box in which you can 
<strong>name the factor</strong>, change its type, link an indicator or objective to it, or type a
comment. Factors with comments linked to them will have a blue triangle in
the corner. To 
<strong>link factors</strong>
 click on the first, hold the shift key, and then click on
the second. Then click the relationship button to create the link. Or if you
select a factor and then add a new one, they will be automatically linked.
</font></p>
<p><font size='-1'>
The zoom-in and zoom-out buttons can be used to decrease or increase the
size of the view.
</font></p>
<img src='images/DiagramWizard/Overview.png' width='512' height='370'></img>
</td>
</tr>
</table>
</div>
