<p class='viewname'>Diagram View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p>This view enables you to develop a 
<a href='Definition:ConceptualModel'>conceptual model</a>
of your project. A good conceptual model
graphically depicts your project's targets, direct
threats, contribuing factors, and strategies - and
more importantly, the relationships between
them.
</p>
<p>
As in any modeling exercise, you should not try
to show all factors and relationships, but only the 
most important ones.
</p>
<p class='nextsteps'>
Click next to begin developing a model of
your project.
</p>
<br></br>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
<br></br>
</td>
<td align='left' valign='top' width='55%'>
<div class='navigation'>
<p class='hintheading'>Navigation Hints</p>
<p>
To 
<strong>add a new target or other factor</strong>, 
click the appropriate button on the tool bar
use the drop down menu, or use the left mouse button. The new factor will
appear in the center of the page. If a factor is selected, to 
<span class='task'>reposition a factor</span>
you can then use the mouse or arrow keys to move it wherever you like.
</p>
<p>
Double clicking on a factor will bring up a dialog box in which you can 
<strong>name the factor</strong>, 
change its type, link an indicator or objective to it, or type a
comment. Factors with comments linked to them will have a blue triangle in
the corner. To 
<strong>link factors</strong>
 click on the first, hold the shift key, and then click on
the second. Then click the link button to create the link. Or if you
select a factor and then add a new one, they will be automatically linked.
</p>
<p>
The zoom-in and zoom-out buttons can be used to decrease or increase the
size of the view.
</p>
<p></p>
<table width='100%'><tr><td align='center'>
<img src='images/DiagramWizard/Overview.gif' width='512' height='370'></img>
</td></tr></table>
</div>
</td>
</tr>
</table>
