<p class='viewname'>Diagram View</p>
<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p class='processsection'>2B. Identify &quot;key factors&quot; & draft strategies</p>
			<p class='taskheading'>Identify Key Factors: Select Chain</p>
			<p>
				<a href='Definition:Strategy'>Strategies</a> are linked to chains of factors 
				showing the sequence of <a href='Definition:IndirectThreat'>contributing factors</a> 
				affecting your <a href='Definition:DirectThreat'>direct threats</a> and ultimately your <a href='Definition:ConservationTargets'>targets</a>.
			</p>
			
			<p>
				To select chain that you want to focus on, select a 
				factor in the chain, and the right (alt) click the mouse, 
				picking the <code class='toolbarbutton'>&lt;Select Chain&gt;</code> command.  All factors and links 
				in the chain should now be highlighted.  (If you need to 
				add or remove factors from the chain, hold the <code class='toolbarbutton'>&lt;ctrl&gt;</code>
				key and click on the factors you wish to add or remove.)
			</p>
			
			<p>
				Next, click on the <code class='toolbarbutton'>&lt;Show Only Selected Chain&gt;</code> button 
				(available on either the toolbar or by right-clicking the mouse).  
				This should hide all factors except the ones that you have selected.
			</p>
			
			<p>
				<strong>Hint:</strong>  A grey background on the diagram view means that 
				you are showing only a selected chain and some factors are hidden.	
			</p>
			
			<br></br>
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            

          	<p>
          		True strategic planning involves using your 
          		conceptual model to determine at what points you will 
          		intervene - and also where you will not.  The first 
          		decision that you have to make in determining your 
          		intervention points is to prioritize where in your 
          		conceptual model you need to take action.  In some 
          		cases, the most obvious <strong>intervention point</strong> is the 
          		target or direct threat itself.  But in many other 
          		cases, you get more leverage if you intervene on some 
          		of the indirect threats and opportunities affecting the 
          		direct threat - on the chain of factors affecting each direct threat.
          	</p>
          
            <table>
              <tr>
              	<td align='right'>
              		<img border='0' src='images/DiagramWizard/selectChainStep.png' width= '650' height='234'>
              	</td>
              </tr>
            </table>
          </div>
        </td>
	</tr>
</table>
