<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/eg2-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Examples for&nbsp;Diagram</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>


<P dir=ltr style="MARGIN-RIGHT: 0px"><FONT face="Times New Roman">The following 
shows a diagram for the marine project:</FONT></P>
<P dir=ltr style="MARGIN-RIGHT: 0px">
<IMG src="icons/marinemodel1.jpg" width=703 height=483></P>
<P><FONT face="Times New Roman"><FONT color=#000000 size=3 
name="Times New Roman">More examples will be available in later versions of 
Miradi.</FONT></FONT></P>
