<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->  

<p>
<table>
	<tr>
		<td><IMG height=48 hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Work Plan View</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>
<P>A <a href='Definition:WorkPlan' class='definition'>work plan</a> shows the specific 
<a href='Definition:Activity' class='definition'>activities</a> 
/
<a href='Definition:Method' class='definition'>methods</a> 
and 
<a href='Definition:Task' class='definition'>tasks</a>
that you need to undertake to implement your strategic and monitoring plans.

<p>The workplan also enables you to develop a <a href='Definition:Budget' class='definition'>budget</a> for your project (in the future, it will also enable you to manage <a href='Definition:ActualExpenditures' class='definition'>actual&nbsp;expenditures</a>). The budget shows the planned costs and funding sources for the activities/methods and tasks that you need to undertake to implement your strategic and monitoring plans.</p>

<p>As a general rule, you should have a detailed work plan for the coming year and a rough plan for the years after that.  </p></P>

<H3>&nbsp;</H3>