<h1>Miradi Download Registration</h1>

<% if(flash[:warning]) %> Warning: <%= flash[:warning] %> <% end %>

<%= start_form_tag :action=> "attempt" %>

<p>
Enter your email address: 
<input id="user_email" name="user[email]" size="30" type="text" value=""/>
</p>

<p>
Enter your password:
<input id='user_password' name='user[password]' size='30' type='password' value=''/>
</p>

<input type="submit" value="Register"/>

<%= end_form_tag %>
