<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<h3>Import a Project File</h3>
<p>
Select which type of file you wish to import:
</p>
<p>
<input type='submit' name='ImportZip' value='Zipped Project'></input>
&nbsp;A  <a href='Definition:ImportZip' class='definition'>Zipped Project</a> is 
a file that was created using the Export feature of Miradi. 
This allows you to send or receive a project via email or other method.
</p>
<p>
Or click 
<code class='toolbarbutton'>&lt;Previous&gt;</code>
to return to the initial Welcome page
</p>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
</tr>
</table>
