<p class='viewname'>Welcome to e-Adaptive Management</p>
<p>
This software program is being developed by the Conservation Measures 
Partnership (CMP) to assist conservation practitioners in going through the 
adaptive management process outlined in the CMP's Open Standards for the 
Practice of Conservation.
</p>
<p>
If this is your <strong>first time</strong> using the program, you will need to create a 
<a href='Definition:Project'>project</a>, 
using one of these methods:
</p>
<ul>
<li>Create a <a href='NewProject'>New Project</a> from scratch<br></br></li>
<li>Import a <a href='ImportZip'>Zipped Project</a><br></br></li>
<li>Import a <a href='ImportTncCapProject'>TNC CAP Workbook</a></li>
</ul>
<p>
Or, <strong>to continue</strong> working on an existing project, select it from the list below.
</p>
<!--
	<p>
	<strong>To continue with the Interview demo, click on the 'Next' button.</strong>
	</p>
	<br></br>
	<table>
	<tr>
	<td width='25'></td>
	<td>
	<table>
	<tr>
	<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
	<td align='left' valign='top'>&nbsp;</td>
	<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
	</tr>
	</table>
	</td>
	<td width='25'></td>
	</tr>
	</table>
	<br></br>
-->
