<p class='viewname'>e-Adaptive Management</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p>
Welcome to e-Adaptive Management, a tool designed to help conservation practitioners 
be more effective by applying the Adaptive Mangagement process. 
</p>
<p>
If this is your first time using the program, you will first need to create a 
<a href='Definition:Project'>project</a>, 
using one of these methods:
</p>
<ul>
<li>Create a <a href='NewProject'>New Project</a> from scratch<br></br></li>
<li>Import a <a href='ImportZip'>Zipped Project</a><br></br></li>
<li>Import a <a href='ImportTncCapProject'>TNC CAP Workbook</a><br></br></li>
</ul>
<p>
Or, to continue working on an existing project, select it from the list below.
</p>
<!--
	<p>
	<strong>To continue with the Interview demo, click on the 'Next' button.</strong>
	</p>
	<br></br>
	<table>
	<tr>
	<td width='25'></td>
	<td>
	<table>
	<tr>
	<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
	<td align='left' valign='top'>&nbsp;</td>
	<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
	</tr>
	</table>
	</td>
	<td width='25'></td>
	</tr>
	</table>
	<br></br>
-->
</td>
<td align='left' valign='top' width='55%'>
<!--
	<div class='navigation'>
	<p class='hintheading'>Further Information</p>
	</div>
-->
</td>
</tr>
</table>
