<p class='viewname'>Welcome to e-Adaptive Management</p>
<p>
This software program is being developed by the 
<a href='Definition:CMP'>Conservation Measures Partnership (CMP)</a>
to assist conservation practitioners in going through the 
adaptive management process outlined in the CMP's 
<a href='Definition:OpenStandards'>Open Standards for the 
Practice of Conservation</a>.
</p>

<table>
<tr>
<td width='50%' valign='top'>
<p>
If this is your <strong>first time using the program</strong>, you will need to create a 
<a href='Definition:Project'>project</a>, 
using one of these methods:
</p>
</td>

<td width='50%' valign='top'>
<p>
Or, if you want to <strong>continue working on an existing project</strong>,
select it from the list below:
</p>
</td>

</tr>
</table>
