<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p>
If this is your <strong>first time using the program</strong>, 
you might want to browse the <strong><em>Marine Example</em></strong> project. 
If it does not appear in the project list to the right, you can download a copy from 
<a href='https://miradi.org/download'>https://miradi.org/download</a>, 
and then use the 
<code class='toolbarbutton'>&lt;Import&gt;</code> 
button to bring it into Miradi.
</p>
<p>
Otherwise, you can create a 
<a href='Definition:Project' class='definition'>project</a>, 
using one of these methods:
</p>
<p>
<input type='submit' name='NewProject' value='Create'></input>
&nbsp; a <a href='Definition:NewProject' class='definition'>New Project</a> from scratch
</p>
<p>
<input type='submit' name='Import' value='Import'></input>
&nbsp; a <a href='Definition:ImportZip' class='definition'>Zipped Project</a> or
a <a href='Definition:ImportCAP' class='definition'>TNC CAP Workbook</a> file
</p>
