<h3>Create New Project File</h3>
<p>
To create a new project enter a project name in the input field below and press the &lt;Create Project&gt; button
</p>
<p>
Enter new project 
<input type='text' name='NewProjectName' value=' -- name here --'></input>
</p>
<p>
<input type='submit' name='CreateProject' value='Create Project'></input>
</p>
<p>
Or click &lt;Previous&gt; to return to the initial Welcome page
</p>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
</tr>
</table>

