<p>
If this is your <strong>first time using the program</strong>, you will need to create a 
<a href='Definition:Project'>project</a>, 
using one of these methods:
</p>
<p>
<input type='submit' name='NewProject' value='Create'></input>
&nbsp; a <a href='Definition:NewProject'>NewProject</a> from scratch
</p>
<p>
<input type='submit' name='Import' value='Import'></input>
&nbsp; a <a href='Definition:ImportZip'>Zipped Project</a> or
a <a href='Definition:ImportCAP'>TNC CAP Workbook</a> file
</p>
