<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Welcome to Miradi</p>
<p>
This software program is being developed by the 
<a href='Definition:CMP' class='definition'>Conservation Measures Partnership (CMP)</a>
to assist conservation practitioners in going through the 
adaptive management process outlined in the CMP's 
<a href='Definition:OpenStandards' class='definition'>Open Standards for the 
Practice of Conservation</a>.
</p>
