<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<h3>Import a Project File</h3>
<p>
<input type='submit' name='ImportZip' value='Zipped Project'></input>
&nbsp;A  <a href='Definition:ImportZip' class='definition'>Zipped Project</a> is 
a file that was created using the Export feature of Miradi. 
This allows you to send or receive a project via email or other method.
</p>
