<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Strategic Plan View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</P>
<p class='taskheading'>Assign Objectives to Factors</p>

<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p>To link an <u>objective</u> to a direct threat or contributing factor, go to the diagram view.</p>
			<p>Double click on the factor (or select it and then use the 
			<a href='Definition:ConceptualModel' class='definition'>properties</a> 
			button on the right-mouse button) to get the properties dialogue.</P>
			<p>Click on the <a href='Definition:ConceptualModel' class='definition'>objectives tab</a> 
			and use the drop down menu to assign the appropriate objective to the target. 
			 You can also use this menu to create a new objective.
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            <p>An <strong>objective</strong> is a formal statement detailing a desired 
            outcome of a project, such as reducing a critical threat. 
            If the project is well conceptualized and designed, 
            realization of a project's objectives should lead to the 
            fulfillment of the project's goals and ultimately its vision.  
            A good objective meets the criteria of being:</p>
          
			<ul>
			  <li>
			  	<p><strong>Outcome Oriented -</strong> Represents necessary changes in critical threat and opportunity factors that affect one or more project goals </p>
			  </li>          
			  <li>
			    <p><strong>Time Limited -</strong> Achievable within a specific period of time</p>
			  </li>          
			  <li>
			    <strong>Measurable -</strong> Definable in relation to some standard scale (numbers, percentage, fractions, or all/nothing states) </p>
			  </li>          
			  <li>
			    <p><strong>Specific -</strong>  Clearly defined so that all people involved in the project have the same understanding of what the terms in the objective mean </p>
			  </li>          
			  <li>
			    <p><strong>Practical -</strong> Achievable and appropriate within the context of the project site </p>
			  </li>          
			</ul>			  
          </div>
        </td>
	</tr>
</table>
