<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Strategic Plan View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</P>
<p class='taskheading'>Develop Goals</p>

<table width='100%'>
	<tr>
		<td align='left' valign='top' width='45%'>
			<p>To link a goal to a target, go to the diagram view.</p>
			<p>Double click on a target (or select it and then use the <a href='Definition:ConceptualModel'>properties</a> button on the right-mouse button) to get the properties dialogue.
			</p>
			<p>Click on the <a href='Definition:ConceptualModel'>goals tab</a> and use the drop 
			down menu to assign the appropriate goal to the target.  
			You can also use this menu to create a new goal.</p>
			
			<table>
				<tr>
					<td width='25'></td>
					<td>
						<table>
								<tr>
									<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
									<td align='left' valign='top'>&nbsp;</td>
									<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
								</tr>
						</table>
					</td>
					<td width='25'></td>
				</tr>
			</table>
			<br></br>
		</td>
		
		<td align='left' valign='top' width='55%'>
          <div class='navigation'>
            <p>A <strong>goal</strong> is a formal statement detailing a desired impact of a project.  
            In conservation projects, it is the desired future status of a target. A good goal meets the criteria of being:</p>
          
			<ul>
			  <li>
			  	<p><strong>Linked to Targets:</strong> Directly associated with one or more of your biodiversity targets</p>
			  </li>          
			  <li>
			    <p><strong>Impact Oriented:</strong> Represents the desired future status of the target over the long-term</p>
			  </li>          
			  <li>
			    <strong>Measurable:</strong> Definable in relation to some standard scale (numbers, percentage, fractions, or all/nothing states)</p>
			  </li>          
			  <li>
			    <p><strong>Time Limited:</strong> Achievable within a specific period of time, often 10 or more years</p>
			  </li>          
			  <li>
			    <p><strong>Specific:</strong>Clearly defined so that all people involved in the project have the same understanding of what the terms in the goal mean</p>
			  </li>          
			</ul>			  
          </div>
        </td>
	</tr>
</table>
