<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</P>
<p class='taskheading'>Develop Goals</p>

			<p><a href='Definition:Goal' class='definition'>Goals</a> are linked to targets.  
			If you used the detailed method of viability analysis, you have already created goals
			for your targets, and you can skip ahead to objectives. 
			If you used the basic method for any targets, you should create your goals now.
			</p>
			<p>
			To create a new goal, double 
			click on a target and then click on the <code class='toolbarbutton'>&lt;goals&gt;</code>
			tab in the properties dialogue box.  
			Click on the <code class='toolbarbutton'>&lt;create goal&gt;</code> button at the side of the page.  
			Fill in the following fields:</p>
			
			<ul>
			  <li>
			    <p><strong>Short Label:</strong>  The text that will appear 
			    	in the goal symbol on the diagram.  Often a letter (e.g., "A" or "D").</p>
			  </li>
			  <li>
			   <p><strong>Goal:</strong>  The title of the goal.  Generally 3-5 words (e.g., Maintain Seabird Populations) </p>
			  </li>
			  <li>
			    <p><strong>Full Text:</strong>  The complete goal statement.</p>
			  </li>
			</ul> 
			<br></br>
			<p>To edit or delete a goal, 
			click on the desired row and then either edit 
			the text in the box at the bottom or click on the <code class='toolbarbutton'>&lt;delete goal&gt;</code> button.
			<br></br>
		</td>
		
