<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Strategic Plan View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</P>
<p class='taskheading'>Edit All Objectives</p>

			<p>You can also edit your objectives from the Strategic Plan view.</p>
			<p>Click on the <code class='toolbarbutton'>&lt;objectives&gt;</code> tab and then select the objective that you wish to edit.</p>
			<br></br>
		</td>
