<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</P>
<p class='taskheading'>Develop Objectives</p>
			<p><a href='Definition:Objective' class='definition'>Objectives</a> are linked to threat and opportunity 
			factors in a model.  To create a new objective, double 
			click on a factor and then click on the <code class='toolbarbutton'>&lt;objectives&gt;</code> tab 
			in the properties dialogue box. Click on the <code class='toolbarbutton'>&lt;create objective&gt;</code> button 
			at the side of the page.  Fill in the following fields:</p>
			
			<ul>
			  <li>
			    <p><strong>Short Label:</strong> The text that will appear in the objective symbol on the diagram.  
			    Often a letter and number combination (e.g., "A1" or "D3").</p>
			  </li>
			  <li>
			   <p><strong>Objective:</strong> The title of the objective.  Generally 3-5 words (e.g., Reduce Shark Fishing) </p>
			  </li>
			  <li>
			    <p><strong>Full Text:</strong> The complete objective statement.</p>
			  </li>
			</ul> 
			
			<p>To edit or delete an objective, 
			click on the desired row and then either edit 
			the text in the box at the bottom or click on the 
			<code class='toolbarbutton'>&lt;delete objective&gt;</code>
			 button.</p>
			<br></br>
