<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Strategic Plan View</p>
<p class='processsection'>
2A. Develop Clear Goals and Objectives
</p>
<p class='taskheading'>Edit All Goals</p>

			<p>You can also edit your goals from the Strategic Plan view. </p>
			<p>Click on the <code class='toolbarbutton'>&lt;goals&gt;</code> tab and then select the goal that you wish to edit.</p>
			<br></br>
		</td>
		