<h3>Download Miradi</h3>
<p>Files available for download:</p>
<ul>
<li><%= link_to "MiradiSetup.exe", '/files/file?file=MiradiSetup.exe' %></li>
<!--<li><%= link_to "Miradi-Mac.zip", '/files/file?file=Miradi-Mac.zip' %></li>-->
<li><%= link_to "Miradi-Linux.zip", '/files/file?file=Miradi-Linux.zip' %></li>
<li><%= link_to "MarineExample.zip", '/files/file?file=MarineExample.zip' %></li>
<li><%= link_to "README", '/files/file?file=README' %></li>
</ul>

