<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<p class='processsection'>
3A. Focus Your Monitoring
</p>
<p class='taskheading'>
Determine What You Need to Know
</p>
<p>
Using your diagram, first look at the chains where you are taking action and 
thus need to measure 
<a href='Definition:StrategyEffectiveness' class='definition'>strategy effectiveness.</a> 
At a minimum, you will probably 
want to think about indicators for each goal and objective.  You may also want 
to think about other factors in the chain that you need to monitor.
</p>
<p>
You should then consider any chains where you are not currently taking or planning
 to take action, but where you need to conduct 
<a href='Definition:StatusAssessments' class='definition'>status assessments</a> 
over time. In particular, you will probably want to think about monitoring key targets and 
direct threats.
</p>