<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Diagram View</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>
3B. Develop a Formal Monitoring Plan
</p>
<p class='taskheading'>
Define Indicators
</p>
<p>
Indicators are linked to factors in a model.  
If you used the detailed method of viability analysis, you have already created 
indicators for your targets. The information on this page is not applicable for targets
set to use the detailed method. 
However, you should create indicators for other factors, where appropriate.
</p>
<p>
To create a new 
<a href='Definition:Indicator' class='definition'>indicator</a>, 
double click on a factor and then click on the 
<code class='toolbarbutton'>&lt;Indicators&gt;</code>
 tab in the properties dialogue box. Click on the 
<code class='toolbarbutton'>&lt;Create Indicator&gt;</code>
button at the side of the page.  Fill in the following fields:
</p>
<ul>
<li>
<strong>Indicator ID: </strong>
The text that will appear in the indicator symbol on the diagram.  Often a number (e.g., &quot;3&quot; or &quot;17&quot;).

</li>
<li>
<strong>Indicator Name: </strong>
The name of the indicator.  Generally 2-5 words (e.g., Number of Sharks) 

</li>

</ul>
<p>
Click on the priority and status boxes to assign the appropriate level to each indicator. You can also fill out the following fields to describe the current status (CS) of an indicator:
</p>
<li>
<strong>CS Date: </strong>
The date of the most recent indicator measurement.
</li><li>
<strong>CS Label: </strong>
Brief description of the current value of the indicator or other short descriptor.
</li><li>
<strong>CS Text: </strong>
Full description of the current value of the indicator.
<li>
<strong>Trend: </strong>
Your assessment of the direction this indicator is heading.
</li><li>
<strong>Confidence: </strong>
Your confidence in the source of the indicator rating.
</li></ul><p>
To edit or delete an indicator, click on the desired row and then either edit the text 
in the box at the bottom or click on the 
<code class='toolbarbutton'>&lt;Delete Indicator&gt;</code>
button.
</p>
</td>
<td width='55%' align='left' valign='top'>
<div class='navigation'>
<p>
An <strong>indicator</strong> is a measurable entity related to a specific information need, such as the status of a target, 
change in a threat, or progress towards an objective.  Indicators can be quantitative measures or qualitative 
observations. Good indicators meet the following criteria:
</p>
<ul>
<li>
<strong>Measurable: </strong>
Able to be recorded and analyzed in quantitative or in discreet qualitative terms.


<li>
<strong>Clear: </strong>
Presented or described in such a way that its meaning will be the same to all people.  


<li>
<strong>Sensitive: </strong>
Changing proportionately in response to actual changes in the condition or item being measured. 
</li>
</ul>
<p>
Indicators can be assigned different priorities as follows:
</p>
<ul>
<li>
<strong>Very High: </strong>
Must be monitored.
</p>
</li>
<li>
<strong>High: </strong>
High priority for monitoring.
</p>
</li>
<li>
<strong>Medium: </strong>
Monitor only if resources allow.
</p>
</li>
<li>
<strong>Low: </strong>
Not necessary to monitor.  
</li>
</ul>
<p>
You can record the current status of monitoring for each indicator as follows:
</p>
<ul>
<li>
<strong>Fully on Schedule: </strong>
Monitoring going as planned or better.</li>
<li>
<strong>Going Well: </strong>
Monitoring generally progressing.
</p>
</li>
<li>
<strong>Problems Implementing: </strong>
Monitoring encountering some challenges.
</p>
</li>
<li>
<strong>Not Started: </strong>
Little or no work done to date.  
</li>
</ul>
</div>
</td>
</tr>
</table>

