<!-- Copyright 2005-2007, Wildlife Conservation Society, Bronx, New York 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<p class='viewname'>Monitoring Plan View</p>
<p class='processsection'>
3B. Develop a Formal Monitoring Plan
</p>
<p class='taskheading'>
Edit All Indicators
</p>
<p>
You can also edit your indicators from the Monitoring Plan view.  
</p>
<p>
Click on the 
<code class='toolbarbutton'>&lt;Indicators&gt;</code> tab
and then select the indicator that you wish to edit.
</p>