<p class='viewname'>Monitoring Plan</p>
<table width='100%'>
<tr>
<td align='left' valign='top' width='45%'>
<p class='processsection'>
3B. Develop a Formal Monitoring Plan
</p>
<p class='taskheading'>
Define Indicators
</p>
<p>
Indicators are linked to factors in a model.  To create a new 
<a href='Definition:Indicator'>indicator</a> 
, double click on a factor and then click on the 
<code class='toolbarbutton'>&lt;Indicators&gt;</code>
 tab in the properties dialogue box. Click on the 
<code class='toolbarbutton'>&lt;Create Indicator&gt;</code>
button at the side of the page.  Fill in the following fields:
</p>
<p></p>
<ul>
<li>
<strong>Short Label: </strong>
The text that will appear in the indicator symbol on the diagram.  Often a number (e.g., &quot;3&quot; or &quot;17&quot;).
<p></p>
</li>
<li>
<strong>Indicator: </strong>
The name of the indicator.  Generally 2-5 words (e.g., Number of Sharks) 
<p></p>
</li>
<li>
<strong>Full Text: </strong>
A description of the indicator.
<p></p>
</li>
</ul>
<p>
Click on the priority and status boxes to assign the appropriate level to each indicator.
</p>
<p>
To edit or delete an indicator, click on the desired row and then either edit the text 
in the box at the bottom or click on the 
<code class='toolbarbutton'>&lt;Delete Indicator&gt;</code>
button.
</p>
<table>
<tr>
<td width='25'></td>
<td>
<table>
<tr>
<td align='left' valign='top'><input type='submit' name='Back' value='&lt; Previous'></input></td>
<td align='left' valign='top'>&nbsp;</td>
<td align='left' valign='top'><input type='submit' name='Next' value='Next &gt;'></input></td>
</tr>
</table>
</td>
<td width='25'></td>
</tr>
</table>
</td>
<td width='55%' align='left' valign='top'>
<div class='navigation'>
<p>
An <strong>indicator</strong> is a measurable entity related to a specific information need, such as the status of a target, 
change in a threat, or progress towards an objective.  Indicators can be quantitative measures or qualitative 
observations. Good indicators meet the following criteria:
</p>
<ul>
<li>
<strong>Measurable: </strong>
Able to be recorded and analyzed in quantitative or in discreet qualitative terms.
<p></p>
</li>
<li>
<strong>Clear: </strong>
Presented or described in such a way that its meaning will be the same to all people.  
<p></p>
</li>
<li>
<strong>Sensitive: </strong>
Changing proportionately in response to actual changes in the condition or item being measured. 
<p></p>
</li>
</ul>
<p>
Indicators can be assigned different priorities as follows:
</p>
<ul>
<li>
<strong>Very High: </strong>
Must be monitored.
<p></p>
</li>
<li>
<strong>High: </strong>
High priority for monitoring.
<p></p>
</li>
<li>
<strong>Medium: </strong>
Monitor only if resources allow.
<p></p>
</li>
<li>
<strong>Low: </strong>
Not necessary to monitor.  
</li>
</ul>
<p>
You can record the current status of monitoring for each indicator as follows:
</p>
<ul>
<li>
<strong>Fully on Schedule: </strong>
Monitoring going as planned or better.
<p></p>
</li>
<li>
<strong>Going Well: </strong>
Monitoring generally progressing.
<p></p>
</li>
<li>
<strong>Problems Implementing: </strong>
Monitoring encountering some challenges.
<p></p>
</li>
<li>
<strong>Not Started: </strong>
Little or no work done to date.  
</li>
</ul>
</div>
</td>
</tr>
</table>

