<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->
<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/eg2-48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Examples of Reports</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<H3>Reports Examples</H3>
The following is an example of a custom report generated for the Rare Conservation Pride Campaign. It takes information from various fields in Miradi and then uses it to generate a report. If you are interested in creating your own custom report, contact <A href="mailto: info@miradi.org"> info@miradi.org</A>.<br>

<img src='images/ReportsWizard/ReportsExample.png' width='721' height='480'></img>
