<!-- 
Copyright 2005-2009, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 alt="" hspace=20 src="icons/info-48.png" width=48 align=absMiddle border=0>
		</td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>More Information About Reports</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<H3>An Overview of Reports in Miradi</H3>
This view enables you to produce various reports about your project. Reports are only one of many ways to export your information from Miradi to other applications.<br>

<p>Miradi currently supports two types of reports:

<ul>
<li><b>Standard Reports - </b>These are pre-defined reports that produce documents in accordance with the CMP Open Standards. Use the <code class='toolbarbutton'>&lt;Full&nbsp;Project&nbsp;Report&gt;</code> button to create a document showing all of your project info; use the remaining buttons to create a document showing one section of your plan.</li><br>
<li><b>Custom Reports - </b>These are pre-defined reports that produce documents in accordance with the needs of a specific organization. Use the appropriate button to generate the report that you want. Contact us at <A href="mailto:support@miradi.org">support@miradi.org</A> if you would like to develop your own custom report.</li>
</ul>

<p>Once you select one of the reports, Miradi will generate a window with the basic report information. Use the toolbar buttons to jump from page to page and to adjust the view. Use the <code class='toolbarbutton'>&lt;Save&gt;</code> button and then the <code class='toolbarbutton'>&lt;Files&nbsp;of&nbsp;Type&gt;</code> drop down list at the bottom of the dialogue box to generate a report in various formats. The two most useful formats are as either a PDF file that can be read by Adobe Acrobat or an ODT file that can be read by the Open Office program (this is an open-source office suite available for free at <a href='http://www.openoffice.org'>www.openoffice.org</a>). Once you have created these files, you can then further edit the report using either Acrobat or the Open Office word processor.</p>

<p class='hint'><b>Hint:</b> Although the Miradi 2.0 report view also offers the choice of saving a document in a RTF format that can be read by MS Word and other word processors, we do not recommend using this format at this time.  Among other things, it places all table cells in individual text boxes, making it extremely difficult to edit text. A better solution is to export to Open Office and then use Open Office to save a document that can be read by MS Word. We hope to have better direct suppport for the RTF format in future releases of Miradi.</p>

<p class='hint'><b>Hint:</b> If you make changes in Acrobat or a word processor, they will not be maintained the next time you generate a report. As a result, try to make the changes in the appropriate Miradi fields where possible.</p>
