<!-- 
Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. 

This file is part of Miradi

Miradi is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 3, 
as published by the Free Software Foundation.

Miradi is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Miradi.  If not, see <http://www.gnu.org/licenses/>.
-->

<p>
<table>
	<tr>
		<td><IMG height=48 hspace=20 src="icons/workshop48.png" width=48 align=absMiddle border=0></td>
		<td width='20'></td>
		<td>
			<FONT face=Tahoma color=#000000 size=5 name="Tahoma">
				<STRONG>Workshop Hints for Report View</STRONG>
			</FONT>
			&nbsp;
		</td>
		
	</tr>
</table>
</p>

<br>
<hr>
<h3>Exporting Workshop Data in Miradi to Other Applications</h3>
Although you may not want to use Miradi to <i>display</i> information in a workshop, it is a very useful way to <i>capture</i> the information put on a sticky board or a flip chart so that it can be documented and shared with other workshop participants.

<h3>Exporting Data in Miradi to Other Applications</h3>
There are many ways to export your information from Miradi to other applications.

<h4>A. EXPORT CURRENT PAGE AS...</h4>
This command is useful to export a specific image or table for use in a document or presentation. Options include:

<h4>Export JPG or PNG Images</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../JPEG&nbsp;Image&gt;</code> or <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../PNG&nbsp;Image&gt;</code> menu commands to capture a specific diagram or table on your screen in an image file. This method is particularly useful to:
<ul>
<li>Put a diagram or table in a document or presentation</li>
<li>Create an image that can be put in a website</li>
</ul>

<h4>Export Rich Text Format (RTF) File</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../RTF&nbsp;File&gt;</code> menu command to export the currently viewed table to a Rich Text Format (RTF) file. This method is particularly useful to:
<ul>
<li>Export a table or other information in a format that can be edited by a word processor</li>
<li>Export pieces of a custom report</li>
</ul>

<h4>Export Tab-Delimited Data</h4>
Use the <code class='toolbarbutton'>&lt;File/Export&nbsp;Current&nbsp;Page&nbsp;as.../Tab-Delimited Data&gt;</code> menu command to export the currently viewed table to a tab-delimited file. This method is particularly useful to:
<ul>
<li>Export the current configuration from your planning view to a spreadsheet like Excel</li>
<li>Export financial information</li>
</ul>


<h4>B. EXPORT CURRENT PROJECT AS...</h4>
This command is useful to export your entire project file so that it can be shared with other users. Options include:

<h4>Export Miradi Zip (MPZ) File </h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../Miradi Project Zip (MPZ) File&gt;</code> menu command to capture your entire project in a small zip file. This method is particularly useful to:
<ul>
<li>Send your project to another Miradi user</li>
<li>Create a backup copy of your project</li>
</ul>

<h4>Export ConPro (CPMZ) File (CP</h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../ConPro (CPMZ) File&gt;</code> menu command to capture your entire project in a zip file that can be imported into The Nature Conservancy's ConPro database. Note that if your organization would like to import Miradi data into your own database, contact <A href="mailto:support@miradi.org">support@miradi.org</A>. This method is particularly useful to:
<ul>
<li>Upload your information to TNC's ConPro database</li>
<li>Share your project information with other practitioners</li>
</ul>

<h4>Export Project XML File</h4>
Use the <code class='toolbarbutton'>&lt;File/Export Current Project as.../Project XML File&gt;</code> menu command to create an XML file with all your project data. Although managing the XML file will require technical skills, this method is particularly useful to:
<ul>
<li>Create a file that can be imported by a database</li>
<li>Export all of your project's information into formats that can be read by other applications</li>
</ul>

<h4>C. GENERATE REPORTS</h4>
Use the <code class='toolbarbutton'>&lt;Reports&gt;</code> view to create a Rich Text Format (RTF) file that contains various configurations of your project data. This method is particularly useful to:
<ul>
<li>Create a document that can be edited in a Word Processor</li>
<li>Create a standard report for a donor or other key audience for your project</li>
</ul>
