<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>

<body class='sidebar'>
<div class='LogoHeader'>
<table><tr>
<td><img src='images/MiradiLogoWithTagline.png' width='750' height='64'></img></td>
</tr></table>
</div>

<div class='indented'>
<FONT size=4><P>Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and Beneficent Technology, Inc. 
("The Benetech Initiative"), Palo Alto, California.</P>
<p><strong>VERSION: INTERNAL (Beta)</strong><eam>