<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>
<BODY>
<table><tr>
<td>
<IMG height=30 alt="" hspace=20 
src="images/Umbrella/thanks64.png" 
width=87 align=absMiddle border=0></img>
</td>
<td>
<H2>Credits</H2>
</td>
</tr></table>
<P>Miradi software is&nbsp;being developed as a&nbsp;joint effort 
between&nbsp;the Conservation Measures Partnership and Benetech.&nbsp;It is the 
result of work of dozens of different organizations and hundreds of 
people.&nbsp;Although we are almost certainly not including everyone who should 
be mentioned, key people and organizations include:</P>
<H3>
<HR>
Design and Content</H3>
<UL>
  <LI>Nick Salafsky (Foundations of Success) 
  <LI>Dan Salzer (The Nature Conservancy) 
  <LI>Kevin Smith (Benetech)</LI></UL>
<H3>
<HR>
Engineering</H3>
<UL>
  <LI>Kevin Smith, Nima Ansari, Richard Nunziata, Mike Reynolds, Charles 
  LaPierre, Dave Offen (Benetech) </LI></UL>
<H3>
<HR>
Product Management and Business</H3>
<UL>
  <LI>Nick Salafsky, Janice Davis&nbsp;(Foundations of Success) 
  <LI>Anna Berns, Lisa Friendly, Peggy Gibbs, Ann Harrison, Barbara Morrison,&nbsp;Gerry 
  Sinzdak (Benetech)</LI></UL>
<H3>
<HR>
Oversight and Guidance</H3>
<UL>
  <LI>Jim Fruchterman, Patrick Ball&nbsp;(Benetech) 
  <LI>Tim Tear, Dan Salzer, Brad Northrup, Jora Young, Danielle Conboy, Susan 
  Miller,&nbsp;Ian Dutton (The Nature Conservancy) 
  <LI>Sheila O'Connor, Will Beale, Will Reidhead, Eric Swanson,&nbsp;Sarah 
  Christensen (WWF) 
  <LI>David Wilkie, Josh Ginsberg, Jonathan Palmer, Craig Groves, John Robinson 
  (Wildlife Conservation Society) 
  <LI>Paul Butler, Megan Hill,&nbsp;Peter Vaughn,&nbsp;Brett Jenks (RARE 
  Conservation) 
  <LI>Richard Margoluis, Nick Salafsky&nbsp;(Foundations of Success)</LI></UL>
<H3>
<HR>
Funding</H3>
<UL>
  <LI>Gordon &amp; Betty Moore Foundation (special thanks to Dan Martin and 
  Terry Vogt) 
  <LI>William &amp; Flora Hewlett Foundation (special thanks to Rhea Suh and Hal 
  Harvey) 
  <LI>David &amp; Lucille Packard Foundation (special thanks to Kristin 
  Sherwood, Jim Leape, Walt Reid, and Bernd Cordes) 
  <LI>The Nature Conservancy 
  <LI>WWF 
  <LI>Wildlife Conservation Society 
  <LI>RARE Conservation 
  <LI>Foundations of Success</LI></UL>
<H3>
<HR>
Testing, Feedback, and Advice</H3>
<P>In addition to many of the above listed individuals, people who have helped 
review the software and provide insights include:</P>
<UL>
  <LI>Jose Kalpers (Africa Parks Foundation) 
  <LI>Bill Sutherland (Cambridge University)&nbsp; 
  <LI>Marcia Brown, Guillermo Placci, Caroline Stem, Vinaya 
  Swaminathan&nbsp;(Foundations of Success) 
  <LI>Andy Dickerson (Little Miami Inc.) 
  <LI>Frank Biasi (National Geographic Society) 
  <LI>Michelle Brown, Darran Crabtree, Michelle DePhilip,&nbsp;Dan Dorfman, 
  Kevin Essington,&nbsp;Jon Fisher, Mary Harkness,&nbsp;John 
  Heaston,&nbsp;Donnelle Keech, David Klein, Veronika Megler,&nbsp;Rachel 
  Neugarten,&nbsp;George Schuler,&nbsp;Becky Shirer (The Nature Conservancy) 
  <LI>Dan Kraus (Nature Conservancy Canada) 
  <LI>Ilke Tilders (Warner Strategy &amp; Fundraising)&nbsp; 
  <LI>Avecita Chicchon,&nbsp;Zach Ferris,&nbsp;Mathew Hatchwell, Bruce Miller, 
  Carolina Murcia, Lilian Painter, Damian Rumiz, Mariana Varese&nbsp;(Wildlife 
  Conservation Society) 
  <LI>Tom Dillon, Ste Drayton, Michael Mikov, Alexis Morgan, Neil Morgan, John 
  Morrison, John Tua&nbsp;(WWF)</LI></UL>
<H3>
<HR>
Content Drawn From</H3>
<UL>
  <LI>CMP's <EM>Open Standards for the Practice of Conservation</EM> 
  <LI>FOS's <EM>Measures of Success</EM> and Training Materials 
  <LI>The Nature Conservancy's <EM>5-S</EM> and <EM>Conservation Action 
  Planning</EM> Processes and the Efroymson Network Training Materials 
  <LI>RARE Conservation's Training Materials 
  <LI>WCS's Living Landscapes Program and Training Materials 
  <LI>WWF's <EM>Project and Programme Standards</EM> and Training Materials 
</LI></UL>
<H3>
<HR>
Technical Contributions Drawn From</H3>
<UL>
  <LI><STRONG>Third Party Libraries:</STRONG> JGraph, BrowserLauncher, 
  JCalendar, JExcel, JHLabs, JTreeTable, TableLayout 
  <LI><STRONG>Development Tools:</STRONG> Ant, CVS, Eclipse, Java, JUnit 
  <LI><STRONG>Martus:</STRONG> Benetech's software for human rights 
goups</LI></UL>
<P><FONT size=2>&nbsp;</P></FONT></BODY></HTML>
