<!-- Copyright 2005-2008, Foundations of Success, Bethesda, Maryland 
(on behalf of the Conservation Measures Partnership, "CMP") and 
Beneficent Technology, Inc. ("Benetech"), Palo Alto, California. --> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE></TITLE>
<STYLE type=text/css></STYLE>
</HEAD>
<BODY>
<table><tr>
<td>
<IMG height=40 alt="" hspace=20 
src="icons/lifebuoy40.png"  
width=40 align=absMiddle border=0></img>
</td>
<td>
<H2>Help with Miradi Software</H2>
</td>
</tr></table>
<P>Miradi Version 1.0 Beta is being released on a limited basis for testing and 
feedback.&nbsp;As such, we have not yet developed the help system that we will 
deploy when we roll-out the full version.&nbsp; That said, in the interim, we 
will be compiling a list of answers to frequently asked questions at:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P><A href="http://miradi.org/help">miradi.org/help</A> 
</P></BLOCKQUOTE>
<P>Also, if you have questions or feedback, please send comments to:</P>
<BLOCKQUOTE dir=ltr style="MARGIN-RIGHT: 0px">
  <P><A href="mailto:support@miradi.org">support@miradi.org</A></P>
  <P><A href="mailto:feedback@miradi.org">feedback@miradi.org</A>&nbsp; 
</P></BLOCKQUOTE>
<P>We will endeavor to answer your questions as soon as possible.</P>
<P>Finally, we will be establishing contact points within each of the major CMP 
organzations who have experience with Miradi Software and may be able to help 
you with questions that you have.</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
